[2016-04-13 07:24] mdbloice opened #2 "Summary functions."
Both `ImageSource` and `Pipeline` object require functions, named `summary` that output details regarding that object's state. For the `ImageSource` class that is a run down of the image sources that are currently loaded. The `Pipeline`'s summary should output the operations that have been added so far,

Also, the `ImageSource` and `Pipeline`'s `summary` function should output tables in Markdown v

[2016-04-13 08:08] mdbloice opened #3 "PyPI structure compliancy."
Structure the project to make it compatible for upload to the **Python Package Index** (PyPI).

[2016-04-13 13:14] Evizero opened #4 "Unit Tests for lossless image operations"
Each lossless image operation should have a test in place that makes sure it does what it promises to do. Lossless in this context just means that there is no interpolation or extrapolation going on. For example flipping the x dimension is just a rearrangement of pixels (As a negative example rotating 3 degrees forces one to interpolate between neighbouring pixels in order to get good results).

S

[2016-04-13 14:14] Evizero opened #5 "Iterate over mini-batches of image source"
It should be possible in a convenient way to use an image source as an iterator to iterate over the whole dataset one image at a time or in mini-batches of a specified size

[2016-04-13 14:18] Evizero opened #6 "Perform image operations in-memory"
It should not be default that images need to be stored to disk. Instead the operations should be performed in-memory such that operations can be chained easily

[2016-04-23 09:36] lradacher commented on #2
We are still working on File format(s) here.
Basically, we are not sure what the results of "File format(s)" should be.
Would it be possible to provide some more examples on this matter?

[2016-04-25 08:33] mdbloice commented on #2
Well, the table should just output the types of file formats that a folder contains. For example, it would be useful to know if all the images were grayscale, black and white, or colour (RGB, etc.) - or a mixture of these. This is important because at the very least you want to have images of the same format for input into a neural network (therefore you might want to make all images grayscale). A

[2016-05-09 11:28] Evizero commented on #6
@jonny911 @mdbloice Is this issue done and can be closed?

[2016-05-09 12:30] lradacher commented on #6
@mdbloice  @Evizero @jonny911 I'm not quite sure if we implemented this issue sufficient, we could discuss this at the next meeting?

[2016-05-09 12:30] lradacher commented on #2
this issue should be finished

[2016-05-17 15:09] mdbloice opened #15 "Create 'Read the Docs' documentation"
Read the Docs is a really nice way to provide documentation to users. The Julia version of the documentation can be seen here:

<http://augmentorjl.readthedocs.io/en/latest/index.html>

We should do the same for the Python version for consistency.

[2016-08-17 22:13] #3 closed

[2016-08-17 22:13] #15 closed

[2017-02-16 11:03] mdbloice opened #21 "Images for README.md"
![optimised](https://cloud.githubusercontent.com/assets/16042756/23018832/cda6967e-f43f-11e6-9082-765c291f1fd6.gif)

[2017-02-16 11:04] #21 closed

[2017-04-28 09:44] #6 closed

[2017-04-28 09:44] #5 closed

[2017-04-28 09:44] #4 closed

[2017-05-05 13:03] chronchi opened #23 "Grayscale class"
I've been trying to add the grayscale option to the pipeline, as said in the documents, but when I do it shows the following error.
`>>> p.greyscale(probability=1.0)
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
AttributeError: 'Pipeline' object has no attribute 'greyscale'`

I'm using Python 2.7.12.

[2017-05-09 20:22] mdbloice commented on #23
Try the latest version on PyPI, version 0.1.2 - such issues should be fixed in that version.

[2017-05-09 22:33] chronchi commented on #23
It worked, thanks!

[2017-05-09 23:15] #2 closed

[2017-05-10 06:37] #23 closed

[2017-05-22 03:07] ahmetkucuk opened #25 "Feeding Pipeline with numpy array"
The library looks pretty good. I would like to ask about a feature.

In addition to reading from directory and writing to directory, Is it possible to add a feature that can read from numpy array and returns augmented numpy array images?

[2017-05-23 13:19] mdbloice commented on #25
Hi,
That is a feature I eventually want to add, but right now it is not a top priority. Having said that, I will try to get something like that done for the next release, so I will leave this open till then. Sorry I can't be any more helpful right now...

[2017-06-22 18:39] arsenyinfo opened #27 "apply_current_pipeline fails trying to save the file"
[code]
[code]

[2017-06-22 18:52] arsenyinfo opened #28 "tif files are not loaded"
[code]
Let's try to read a file using `scikit-image` to be sure it is valid tiff file, and see how `Augmentor` fails:
[code]

[2017-06-28 11:53] yunqing opened #31 "Reproducible issue: black image (all pixels are zero) after rotate"
[code]

Sometimes, you can get a black image after rotate the image.

[2017-06-28 13:19] mdbloice commented on #31
Hi, thanks for opening the issue, I think the problem there is that you are applying a `max_left_rotation` of `50` and that may well result in a malformed image due to the way Augmentor performs cropping on the rotated images by default.

This is because Augmentor rotates and then extracts the maximum crop possible of the same dimensions as the input image, and depending on the dimensions of this

[2017-07-31 00:17] wolewomada opened #33 "Resolution for output images"
Marcus, Thanks for sharing your nice augmentation tool. I really like it.

I am wondering how to keep output images to be the same resolution as input images after finishing augmentation. I do see that there is a loss of resolution for augmented images. Please let me know where I could make a change for the code in order to keep the same resolutions. Thank you for your advice!

Best regards,
Peter

[2017-08-01 08:58] mdbloice commented on #33
Hi Peter,
I assume you mean the quality of the images rather than the dimensions of the images? In that case, saving as PNG may help, but each operation is going to introduce some kinds of artefacts due to resampling and so on.

Right now, users do not have the ability to change the resampling method (most operations default to bicubic) but I will add the ability to specify this in a future versio

[2017-08-06 11:10] carterbao opened #34 "Adding operations on keypoints/landmarks?"
This tool is awesome, especially for the elastic distortion function. Is is possible to add operations on given keypoints/landmarks, which means the inputs and outputs are images and corresponding points?

[2017-08-07 11:05] mdbloice commented on #34
Hi, thanks for opening the issue.
I am not quite sure what you mean. Could you elaborate a little? Maybe with some code of how you'd think such an operation would work with Augmentor or maybe some example input and output images?

[2017-08-08 14:10] abhigoku10 opened #35 "skew(probability=0.6,skew_type="CORNER",magnitude=4)"
@S1mona @jonny911 @Evizero

When i use skew(probability=0.6,skew_type="CORNER",magnitude=4) getting error of TypeError: skew() got an unexpected keyword argument 'skew_type'

[2017-08-08 14:11] abhigoku10 opened #36 "How to use the function of GaussianDistortion"

[2017-08-08 14:12] abhigoku10 opened #37 "How to change the output filename and output fileformat"
@Evizero @jonny911 @YananJian

[2017-08-08 14:17] #35 closed

[2017-08-10 09:34] Jayhello opened #38 "how to install this by anaconda"
how to use conda install this lib
my default python interpreter is anaconda, if i use pip install this lib I can't use it
I use pycharm(backend by anaconda as interpreter)

[2017-08-10 10:58] carterbao commented on #34
Hi, thank you for replying.
For example, if I want to detect key-points(or landmarks) on faces, and I may have some face images with their key-points labeled. Now I want to get more labeled images by image augmenting, for training a neural network. However, after the operation, the key-points will move and I can't get their positions on new images. So is it possible to do the same operation(rotati

[2017-08-11 11:55] mdbloice commented on #38
Hi,
I'm really not sure why using conda would influence a pip install. Augmentor is not listed by conda so it is not possible to install with conda, only pip. I think however, to be able to install packages using both pip and conda, then pip should have itself been installed by conda. Does that help?
M.

[2017-08-11 11:59] mdbloice commented on #34
Hi, ok I see what you are saying now. Well currently that won't be possible because I use PIL as a backend for most of the image operations. However, I do plan on replacing PIL as a dependency in a future update, and use only numpy for the image manipulations, which would make it possible to implement what you are asking for. When I do this, I will add this feature. I can't really give you a timel

[2017-08-11 18:27] bernardohenz opened #39 "How to pass 2 images through the same pipeline (with same decisions)"
I have paired images (grayscale and colored ones). How can I use Augmentator to feed pairs and get output pairs that have passed for the same augmentations decisions?

[2017-08-16 07:55] #38 closed

[2017-08-17 16:04] jrkwon opened #40 "This comparison statement seems not right. The warning message is shown even if the image format is one of the two formats."
https://github.com/mdbloice/Augmentor/blob/06ac3331987c3a1c8b23f4667ddd50b785cd3dc0/Augmentor/Pipeline.py#L337

[2017-08-17 16:27] #40 closed

[2017-08-17 16:29] mdbloice commented on #40
Hi,
Thanks for pointing this out. Yes, indeed that is not going work, I've fixed it now with the latest commit,
M.

[2017-08-18 17:34] jrkwon commented on #40
Thanks a lot. I use your Augmentor from 0.1.3, and the 0.1.4 version has a new function that I needed. It is a blast. I really enjoy to use it.

[2017-08-18 18:39] mdbloice commented on #40
Thanks, your encouraging words are appreciated! P.S. the issue you pointed out should be fixed now in version 0.1.5 on PyPI, so updating will using `pip` will get rid of that warning.
M.

[2017-08-22 14:26] GlastonburyC commented on #39
Hi :)

This is how I did it:

`
p = Augmentor.Pipeline("/image_set1/")
Pipeline.set_seed(100)
p.flip_left_right(probability=0.4)
p.flip_top_bottom(probability=0.4)
p.rotate90(probability=0.4)
p.rotate(probability=0.3, max_left_rotation=5, max_right_rotation=5)
p.random_distortion(probability=0.5, grid_width=6, grid_height=6, magnitude=3)

p.sample(1000)

p = Augmentor.Pipeline("/image_set2/")
Pipe

[2017-08-22 14:35] mdbloice commented on #39
Hi all,
First of all sorry for the late/non-existent reply. The solution proposed by @GlastonburyC should indeed work. Actually this is a feature I'd like to explicitly include in an upcoming version, I'll fast track it so that it's implemented for the next version that's released.
Thanks to both for the input!
M.

[2017-08-22 14:36] GlastonburyC commented on #39
@mdbloice  This library is great btw!

[2017-08-22 14:45] mdbloice commented on #39
Thanks, appreciated!

[2017-08-23 18:14] GlastonburyC commented on #28
It doesn't support TIF.

[2017-08-23 18:37] GlastonburyC commented on #39
Upon further use, this doesn't actually work. Ordered by date created and the two sets of images do not align with each other.

[2017-08-23 19:50] bernardohenz commented on #39
Now that I've seen that you can set a specific seed (which in turn would return the same random numbers). Still didn't test it

[2017-08-24 06:07] mdbloice commented on #39
Ok @GlastonburyC, thanks for testing this, @bernardohenz I'll add this as a feature in the next version.

[2017-08-24 06:27] mdbloice commented on #28
Hi thanks for pointing this out, I'll add support for TIFF in the next release hopefully.

[2017-08-28 13:11] mangoHoli opened #41 "Error writing processed data when multi-procesed"
Processing fer2013_6_35656.png: 100%|█████████▉| 18872/18888 [03:42<00:00, 86.62 Samples/s]Error writing 6_sadness__bc322a31-1668-412c-9314-4ea527d9666c.JPEG.
Error writing 6_sadness__e97e2502-e259-4a05-ac95-d9f1c67c1e90.JPEG.
Error writing 6_sadness__4739eb49-99fa-4e54-92db-77c770248bf6.JPEG.
Error writing 6_sadness__8754065a-56fd-494f-9d51-719d71552011.JPEG.
Error writing 6_sadness__0e20f205-97f

[2017-09-04 21:05] arsenyinfo commented on #28
@mdbloice may be my naive fix (https://github.com/mdbloice/Augmentor/pull/29/commits/52392faca82e7cb2aa8b4afd2abf157d91a6dc9e) will work for you?

[2017-09-18 07:30] Zhengtq opened #42 "Rotate to the same angle?"
The description of the function "rotate" says: "If you wish to rotate the images by an exact number of degrees, set both :attr:`max_left_rotation` and :attr:`max_right_rotation` to the same  value."
I am confused by this. If I set the attr:`max_left_rotation` and :attr:`max_right_rotation` to the same value, then which angle does it rotate? To left or to right?

[2017-09-18 07:52] mdbloice commented on #42
Hi, thanks for opening this issue. Yes you are absolutely right, this won't work. I will fix this soon so that the behaviour matches the documentation.
Thanks again for pointing this out.
M.

[2017-09-24 13:17] makcbe opened #43 "Define a class label / class integer map - content of image"
I am new to this and excuse the question if it is too silly.
I am trying to construct a different set of images (rather than with mnist as basis) and have created a set of basic images.
In the integer_labels assigning part, it is not clear how the int:label to be assigned. the content of my image is not an integer but an image. Is it okay if the following syntax is used:
integer_labels = {'a':0, '

[2017-09-29 11:44] pronot opened #47 "Using Augmentor with TensorFlow"
How can i use Augmentor on the fly with tensorflow? There's an example with Keras. Can you provide an example with tensor flow too?

[2017-09-29 12:32] mdbloice commented on #47
Hi there, as I do not have TensorFlow currently installed on my main dev machine, I can't really add this functionality at present. However, it is something I definitely want to add, so I will take a look at doing this some time soon. I can't make any promises regarding when this might be unfortunately. That said, I'd be happy to take a look at a PR you might want to make!

[2017-09-29 12:35] mdbloice commented on #43
Hi there,
I'm really sorry, but I do not quite understand what you are asking. Maybe you could clarify somehow, maybe with some code you are trying to run?

[2017-09-29 12:45] mdbloice commented on #41
Hi there, thanks for writing up this issue and apologies for the late reply. I am trying to think what might be the issue here, and I can't really see what might be the problem. Did you resolve this yourself by any chance? Does it occur every time?
M.

[2017-09-29 12:50] #37 closed

[2017-09-29 12:58] mdbloice commented on #37
Hi thanks for writing up this issue. You can't actually change the output filename, other than the fact that files are saved with their class label as a prefix. If the class label is different (which depends on the parent folder name of any images in the pipeline) then the output file name will be prefixed differently. Hope this helps.

[2017-10-02 19:50] luis1761 opened #49 "Adding black_and_white to the pipeline should force a lossless format (Not JPEG)"
Currently, even if you specify a black and white operation but don't change the default picture format (.jpeg) the resulting picture contains values besides 0 and 255 due to compression.

To be clear black_and_white is not malfunctioning, changing to a lossless format (.png for example) when creating the pipeline fixes the problem.

[2017-10-03 09:13] mdbloice commented on #49
Hi there, thanks for opening the issue - yes that is a good point, I'll need to look into that and get back to you.
M.

[2017-10-03 13:54] johndpope opened #50 "not an issue - potential break through in 3d Point cloud scanning inference"
I watched this video this morning on 3d point cloud + ARKit
https://www.youtube.com/watch?v=kupq1C41XcU&feature=youtu.be
and it seems like a trained Augmentor model could help bridge the inference here in conjunction with trained model. Not sure if you agree, or if this is the correct repo for this - perhaps it is a new project.

<img width="326" alt="screen shot 2017-10-03 at 9 42 19 am" src="htt

[2017-10-03 13:57] johndpope commented on #47
you may like miniconda to setup tensorflow with cpu / very simple to get up and running.
https://gist.github.com/johndpope/187b0dd996d16152ace2f842d43e3990

[2017-10-03 14:04] johndpope commented on #50
rethinking this through - I suppose to infer a 3d point cloud - augmentor should actually have a 3d cloud out of the box / definitely scope creep here - augmentor3d.  maybe something for the backlog

[2017-10-03 14:06] johndpope commented on #50
typing in 3d bounding box - (among other google results) returns this
https://arxiv.org/abs/1612.00496

[2017-10-03 14:07] johndpope commented on #50
https://github.com/smallcorgi/3D-Deepbox

[2017-10-03 15:23] Evizero commented on #50
I am afraid this is currently beyond the scope of Augmentor.

The proposed functionality seems a bit too vague or maybe special purpose, and the issue doesn't quite seem actionable.

That said, it is possible for a user to write his/her custom Operations. So if you do end up implementing a working version of this and want to share it with the community, then we'd certainly review a PR.

My persona

[2017-10-03 15:23] #50 closed

[2017-10-04 17:26] luis1761 commented on #49
Thank you for the answer. What a useful tool you created, thanks.

[2017-10-10 12:57] kmader opened #51 "Add support for semantic segmentation problems"
It would be useful if the pipelines could be applied in parallel to both the image and label dataset for segmentation problems. It is possible to sync two pipelines and have them operate independently on the input images and output labels, but it would be useful to support both

[2017-10-10 13:12] Evizero commented on #51
Hi! This feature is definitely on our radar, but currently not implemented natively.

However it seems there is a (somewhat errorprone) workaround available. see #39

[2017-10-10 16:58] kmader commented on #39
so I tried a slightly cleaner solution

[code]

which works fine with all the distortions off

![image](https://user-images.githubusercontent.com/116120/31398937-e57d2b2c-adea-11e7-9187-d2b62dcf757d.png)

but once they are on (zoom_random uncommented)

![image](https://user-images.githubusercontent.com/116120/31399413-7fd3b870-adec-11e7-9932-ce5a544eee19.png)

and with random_distortion uncommente

[2017-10-10 17:28] Evizero commented on #39
Looking at the source I suspect the issue here is that the seed is just passed to `random.seed(..)`. So presumably both pipelines share the same random number generator.

I talked to @mdbloice about this today (he is currently quite busy with teaching related responsibilities). Support for this feature is high up in our agenda. Hopefully sometime in the next three weeks.

[2017-10-10 18:28] johndpope commented on #50
fyi - distantly related / the guys at magic leap have possibly solved this problem.
<img width="640" alt="screen shot 2017-10-10 at 2 27 25 pm" src="https://user-images.githubusercontent.com/289994/31403480-319b136c-adc7-11e7-8919-351d8c2f6216.png">
 https://arxiv.org/pdf/1707.07410.pdf

[2017-10-17 01:05] stnk20 opened #52 "Pipeline.image_generator() causes out of range index"
This line causes out of range index:
https://github.com/mdbloice/Augmentor/blob/eae7394fdf6b92443f1d3dd66181ffda7a1f1cbf/Augmentor/Pipeline.py#L300

It should be:
`im_index = random.randint(0, len(self.augmentor_images-1)) `
Or clearer way:
`img= random.choice(self.augmentor_images)`

[2017-10-17 07:22] #52 closed

[2017-10-17 07:23] mdbloice commented on #52
Hi there,
thanks a lot for pointing this out, yeah that's a bug and is now fixed!
M.

[2017-10-20 12:49] bernardohenz commented on #39
My workaround was to create a new class **PipelinePaired**, redefining keras_generator_from_array function, and creating a **_execute_with_array_two_images**:

[code]

I needed to set the seed before each operation so the decisions (eg. rotation angles, and random parameters) made were the same. The code is not beautiful, but it works.

[2017-10-22 09:13] eddiesmo opened #53 "Zoom-out functionality available but turned off?"
First thing - thanks for this great repo!

The input for the zoom operation is limited to min_factor>1.
I actually needed to use it for a "zoom out" functionality and simply disabled the input check - then everything worked as expected.
Should this input check even be there? I know for most users adding a black margin for the "zoom out" effect is unwanted, but they can simply only use min_factor>1

[2017-10-28 05:32] luis1761 commented on #53
Thanks, this is actually very useful to know.

[2017-10-30 17:35] pity2003 commented on #39
Hi all,

Is this issue solved yet? I have the same problem now. Thanks.

[2017-10-31 11:12] mdbloice commented on #53
Hi @eddiesmo thanks for taking the time to make an issue - yeah you are right, I wonder though if doesn't make more sense to also give the option of filling that space with pixels that are of the same colour as the border of the original image. Anyway, yes, at a minimum I should allow zooming of a factor < 1, I'll change this in an update soon.
M.

[2017-10-31 11:14] mdbloice commented on #39
@pity2003 I am working this right now and will get it added as a feature soon. Hopefully this week.

[2017-10-31 11:27] eddiesmo commented on #53
Hi again! After using the zoom out feature for a while I noticed that the zoomed out image was not always the same size as the input image, so I fixed the casting of crop parameters and now it's fine. See PR here: https://github.com/mdbloice/Augmentor/pull/54

[2017-10-31 11:29] pity2003 commented on #39
@mdbloice Many thanks for your fast response. I revised the sample function to save the processed images using the index of processing sequence. For the index, I first count the number of digits contained in "n" and fill some ''0"s in the left side of the index. Is it your convenience to provide a function like this? The "sample" function save the processed image inside "pipeline._execute" using a

[2017-10-31 12:04] mdbloice commented on #53
@eddiesmo ok so with the merge I'll close this, thanks again!

[2017-10-31 12:04] #53 closed

[2017-11-01 20:12] dfroa34 commented on #41
Hi,
I am also having the same issue.
I am running a simple transormation and then I'm obtaining some samples from it, but I got the same error:

p = Augmentor.Pipeline(test_folder)
p.rotate(probability=0.8, max_left_rotation=10, max_right_rotation=10)
p.sample(10)

Error writing original_a9ee543b-26d1-4a67-886a-67b78872234d.JPEG.

[2017-11-02 08:16] mdbloice commented on #41
Hi @dfroa34 yeah I am not sure what could be happening except that perhaps you do not have write access to the `test_folder` location? Can you confirm that?
M.

[2017-11-02 12:43] dfroa34 commented on #41
Hi @mdbloice,
Thanks for your message.
I double checked and I realized that I had this error when the test_folder does not contain an image and when the test_folder contains files different from images.

Now everything works fine.
Do you know if there is any way that I can specify the output directory in other directory different than the one containing the images?
Thanks!

[2017-11-06 22:08] ravitezz commented on #28
In ImageUtilities.py, in scan_directory function, I included tiff files as below, it can now scan tiff files
file_types = ['*.jpg', '*.bmp', '*.jpeg', '*.gif', '*.img', '*.png','*.tif','*.tiff']

[2017-11-06 22:59] xinario opened #55 "rotation changes the scale of the image"
Just curious about the rotation operation. Shouldn't rotation preserve the scale of the image? I don't see the benefits of cropping out the largest rectangular area of the rotated image just to get rid of the black padding. In my opinion, scale and rotation should be isolated.

Also there're too many interfaces to rotation and sometimes they are confusing.

Anyway, awesome work.

[2017-11-09 10:13] yanmu2017 commented on #51
I tried #39 , but I have problems to obtain label images interpolated with 'NEAREST' interpolation. It seems I can choose parameter 'resample_filter' only for the method 'resize', but not others like 'rotate' and 'zoom'.

It would be very helpful if we can set a 'resample_filter' flag for a pipeline (Augmentor.Pipeline) that is valid for all its augmentation operations.

[2017-11-12 07:01] lef-fan commented on #55
I think its perfect as it is, I was looking for something like this and finally...
It would be nice an option to switch between modes though.

[2017-11-14 12:50] mdbloice commented on #55
Hi @xinario yeah I guess there should at least be an option. I'll add to the next version for sure.

[2017-11-14 12:51] mdbloice commented on #51
Hi @yanmu2017 that's a good idea, it would make sense for all operations to just use one resample filter for the entire pipeline. I will do that in the next version.

[2017-11-22 00:22] 1991viet opened #56 "How to calculate the angle of rotation in Skew"
Dear contributor,
Could you tell me how could I measure the angle of rotation along x_axis and y_axis in the first 4 Skew types.  For example, in the attached image, how could I determine how much the image is rotated along y_axis
![tiltleft_s](https://user-images.githubusercontent.com/15526232/33103588-64508ca6-cf23-11e7-855b-cc24c7dc9430.png)
I guess the solution lays somewhere in this part of c

[2017-12-05 14:31] palaniraja opened #58 "param name out of sync with readme & code?"
Hi,

Thank you for the library.

I was trying to run with my own sample found that, it seems there is some changes not getting reflected in [readme](https://github.com/mdbloice/Augmentor/blob/master/README.md)?

Eg., as of now [readme](https://github.com/mdbloice/Augmentor/blob/master/README.md) & [docs](http://augmentor.readthedocs.io/en/master/userguide/mainfeatures.html) site both says

`
p.rot

[2017-12-05 15:34] benjaminbarbe commented on #47
Hello @mdbloice

Do you have some hints to get started?

[2017-12-11 04:31] qilinli commented on #39
is the problem solved?

[2017-12-20 05:32] guanfuchen commented on #39
use this method set seed does not get the same result

[2017-12-30 20:32] agcala opened #60 "module 'Augmentor' has no attribute 'Pipeline'"
Thanks for the wonderful library. But I am having an issue here. First time it worked alright but now as soon as I import Augmentor in Python I get the message

`builtins.AttributeError: module 'Augmentor' has no attribute 'Pipeline'`

Is there anything I can do about that?

[2017-12-30 20:52] #60 closed

[2017-12-30 20:52] agcala commented on #60
I found the cause of the error. Thank you very much

[2018-01-08 17:02] johndpope commented on #50
fyi - https://github.com/charlesq34/pointnet2

[2018-01-10 03:48] Kongsea opened #62 "How to pass an image path as parameter and only preprocess it?"
It seems Augmentor needs a work directory as the parameter and it will preprocess all files in it.
However, we always need to preprocess a specific image and use the image path as the parameter.
So how to use Augmentor in this situation?
Thank you.

[2018-01-11 08:13] sebastianheinz opened #63 "Option for absolute output path"
Hi,

currently, only a relative output path can be defined in `Pipeline()`. It would be helpful to be able to specify an absolute output path.

Cheers

[2018-01-12 10:39] mdbloice commented on #63
Hi, thanks for making this issue,

What OS are you using? Under Linux if I do something like this:

[code]
[code]

it works fine and outputs to the `/tmp` directory when calling `sample()`.

M.

[2018-01-12 10:58] mdbloice commented on #62
Hi there, the best thing to do would be to pass the single image as an array. So create a pipeline object without specifying an image directory:

[code]
and then pass an image as an array to the function `sample_with_array()`:

[code]
The image contained in `img_augmented` is an image in PIL format.

Admittedly this is not very intuitive, I'll try to fix that for a future version. Also the documen

[2018-01-12 10:58] #62 closed

[2018-01-12 12:16] sebastianheinz commented on #63
Hi,

I am using OSX High Sierra 10.13.2

If I am replicating your minimal example, the message "Output directory set to /tmp/." does not show up. Seems to be an OS issue. Can you replicate the issue on OSX?

Cheers,
Sebastian

[2018-01-12 13:11] mdbloice commented on #63
Hi,

OK so I just tested in on OSX 10.13.2, and it seems to work for me:

[code]
Maybe try updating your version of Augmentor using `pip install Augmentor --upgrade`?

[2018-01-12 13:39] ideaRunner opened #64 "Use Augmentor to predict a image, but don't know how to pre-process test image"
Hi,
    Now, I am using Augmentor to get a generator and use Keras fit_generator function to train my model.
    After I trained, I am facing a problem.
    I don't know how Augmentor pre-processing the train set. But as a result it normalized the input image value between 0 and 1. So I don't know how to pre-process my test set so that it can be predict from the trained model.
    I tried to devid

[2018-01-12 14:18] mdbloice commented on #64
Hi there, yeah Augmentor is just doing something like:

[code]
so doing that to your test images should work when passing them through any trained model.

However, I am currently reworking all the generator functions, and the functions that work with images passed as arrays. I will soon push (next week) a new version of Augmentor to PyPI which will be more feature complete, so if you can wait a fe

[2018-01-12 14:36] mdbloice commented on #58
Hi, right, yes indeed, I will fix that with the next release :-)
Thanks for the heads up!
M.

[2018-01-12 14:36] #58 closed

[2018-01-15 08:34] Kongsea commented on #62
Thank you.
Look forward to the new version.

[2018-01-17 17:42] sebastianheinz commented on #63
Hi,

I've updated the package, now its working fine! Thank you!

Cheers
Sebastian

[2018-01-18 02:48] ideaRunner commented on #64
Hi Mdbloice,
Thank you for your reply. It really works!
Augmentor help me a lot to pre-processing image, it is a wonderful project.
I am looking forward  to use new version!
Thank you again.

[2018-01-18 02:51] #64 closed

[2018-01-18 10:41] #63 closed

[2018-01-28 10:09] felix-tracxpoint opened #66 "How to crop a rotated image without losing content?"
When using the rotation function the automatic crop removes some of the content of the original image.

Here is an example:

![augtest_cf0ec659-3417-4ce9-ae55-aaa4e4586297](https://user-images.githubusercontent.com/33800181/35481017-f7ce85b6-0423-11e8-864b-ad4a138eafba.JPEG)
![c1](https://user-images.githubusercontent.com/33800181/35481019-fb3917c0-0423-11e8-8856-8b119b961106.jpg)

Is there a way

[2018-01-31 09:37] niekverw opened #68 "augment only a single, or set of images"
I was wondering if it is possible to use Augmentor to augment a single image or augment multiple images (e.g. multiple np.array as input, not filename), in the same manner?

[2018-02-01 15:17] gauthiermartin opened #69 "Pipelining multiple image with a probability of 1.0 to trigger each function"
This is actually more a question then an issue.

I was wondering if their was an existing feature that grants us the ability to trigger each augmentor function on a set of images with a percentage of 100% in a way that every image in a dataset for exemple get generated for each available function of augmentor ... if not is their an easy way you could think of for doing this.

[2018-02-01 15:55] Evizero commented on #69
in the sense of exhausting all possible paths through the pipeline to end up with all possible output images somewhere?

[2018-02-01 23:44] abes975 opened #71 "Inside output folder an empty directory named "0" is created"
While I processed a batch of multiple files in the output folder besides output files an empty directory with name "0" is created.
Same things does not happen if I have only 1 file to be processed inside my Pipeline.

This is a small reproducer

[code]

in this case folder 'my_input' contains multiple image files.

[2018-02-02 01:38] gauthiermartin commented on #69
Yeah that is what i meant.

[2018-02-02 13:56] gauthiermartin opened #72 "histogram_equalisation method does not recover from IOError"
While using histogram_equalisation method i got multiple error that go raised  by PIL.

Here is the error returned by my terminal

Processing 000010.jpg:  81%|███████████████████████████████████████████████████████████████████████████████████████████████████▋                       | 342/422 [00:29<00:06, 12.99 Samples/s]Output directory set to /home/spark/Desktop/Augmentation/images/Pont Jacques-C

[2018-02-05 07:49] devforfu commented on #25
Is this one still on the list to be implemented?

[2018-02-09 08:14] Maxfashko opened #74 "Object detection"
Hey. Is data augmentation supported for object detection tasks?

[2018-02-12 21:42] spencer0523 opened #75 "Image processing gets slower and slower as time goes on"

[2018-02-21 09:55] mdbloice commented on #69
Currently there is no way to do this, but I think realistically you'd end up with far too many images, especially if you had more than a few operations in the pipeline...

[2018-02-21 09:57] mdbloice commented on #71
This has already been fixed, but is not in the version on PyPI just yet. I am going to update Augmentor to a new version in this week, it's part of a larger update - hence the delay!

[2018-02-21 09:57] #71 closed

[2018-02-21 10:01] mdbloice commented on #72
Hi. I am not exactly sure what this is, but I'd imagine it's because some of your images are binary/1-bit perhaps?

[2018-02-21 10:03] mdbloice commented on #74
How do you mean exactly? That the Augmentor library itself performs object detection during the augmentation procedure? If so then currently no, Augmentor does not perform any of its own object detection.

[2018-02-21 10:05] mdbloice commented on #75
I will look in to this. How many samples do you have to generate to reproduce this? At what point does it begin to slow down? Thanks!

[2018-02-21 10:08] mdbloice commented on #66
Hi there, sorry for the late response, I have not been able to devote any time to Augmentor recently.

Yes, the current default (and only) behaviour is that the rotate operation automatically crops the image to preserve the original image size. I will however add an option so that you this can be disabled. I'll add it to an update I plan to release this week which has some major changes.

[2018-02-23 17:22] #69 closed

[2018-02-27 21:52] AmandaBoatswain opened #78 "Keras Generator with RGB images"
Hello,
I'm trying to create a keras generator using the Augmentor library but I'm running into an issue with the Pil library. My training data is in a numpy array of form [num_samples, width, height, num_channels] where num_channels =3. I tried running the jupyter notebook Augmentor_Keras_Array_Data.ipynb using the mnist dataset and it worked fine, but with the 3 layer images once I try to visuali

[2018-02-28 08:25] mdbloice commented on #78
Hi,
Yeah PIL is very specific about the types of array data it can read. A better option is to use Matplotlib's `imshow` function:

Import it, and instruct it to display images inline in your notebook:
[code]

Then with your array data you can preview it using `imshow` in some way similar to this:
[code]
You may or may not need to use `reshape` to change the array's shape, that depends. The `width

[2018-02-28 09:55] mdbloice commented on #78
By the way, I have updated the example notebooks to use `imshow` now instead of relying on `Image.fromarray`.

[2018-02-28 22:16] AmandaBoatswain commented on #78
Thank you for you updates mdbloice!

I actually still ran into the issue while running my code. The error wasn't really in the visualization of the image with matplotlib, it was with the PIL library in the Pipeline.py file when it converts the array to an image file (line 226). In the [Image.fromarray(obj, mode)] function from the PIL library I set the "mode" parameter to RGB, so now it expects a

[2018-03-01 08:35] mdbloice commented on #78
OK I see, so there is something about the array data what PIL does not like. Well what operations are you actually using in the pipeline? Do you know which operation causes the error?

To me that error sounds like you have array data as floats between 0 and 1 to represent the pixel values, and I think PIL only works with unsigned integers from 0-255.

Are you using the `keras_generator()` or the `

[2018-03-01 13:37] mdbloice commented on #68
Hi, yes, this is now finally possible using the `ground_truth()` function in the `Pipeline` class (as of Augmentor v0.2.0).

Basically, just use this function to point to a directory containing the mask images, and when you generate new image data, images will be generated for both the mask and the original images:

[code]

Call `p.sample()` in the same way as per usual to generate both sets of im

[2018-03-01 13:42] mdbloice commented on #49
@luis1761 in the latest version (0.2.0) Augmentor will now use a lossless file if the original file was lossless. So if the original file is a PNG file, then the augmented files will also automatically be saved as PNG files. I think this might solve what you were mentioning here.

[2018-03-01 13:42] #49 closed

[2018-03-01 13:48] mdbloice commented on #39
As of version 0.2.0 of Augmentor, it is now possible to pass mask images or ground truth images with original images and have them augmented in the same, identical way. The README and Read the Docs contain more information, but briefly if you initialise a `Pipeline` object in the normal way, you have the option of specifying a *ground truth* directory using the `ground_truth()` function:

[code]
H

[2018-03-02 15:43] gauthiermartin opened #80 "Possible to run multiple pipeline at the same time"
I was wondering if it was possible to run multiple pipeline at the same time

Here is what im trying to achieve, we are trying to create multiple pipeline for each of our classes and then trigger random augmentation on each of them now we run on job after the other but is it possible to run like 2 or 3 at once ?

[2018-03-02 16:22] mdbloice commented on #80
I guess there is nothing stopping you running several instances of Python and running several pipelines concurrently, is that what you mean? I am not sure if running them concurrently would actually make them finish faster, but it might.

[2018-03-02 16:26] gauthiermartin commented on #80
Actually it's seem that the augmentation is made on a single core ... it does not use all thread on my cpu.
So i was wondering if there was a way to use all available power and augment multiple class at the same time

[2018-03-02 16:31] mdbloice commented on #80
Yeah maybe using multiple instances of Python will use more of your cores, I am not actually sure about that. It could. You'd need to really use multiple Python instances though, and not just run a few pipelines concurrently somehow in one Python instance.

[2018-03-06 00:45] ssundar6087 opened #82 "Unable to save out images after augmenting"
Hello,

I installed Augmentor successfully using pip. After that I was able to write a short script to augment images and ran it without any issue.

Today, when I tried to run the script on a different set of images, I got the error :
Error writing f8aee8ea-418c-4742-a977-5896b2b160d5, .
Change save_format to PNG?
You can change the save format using the set_save_format(save_format) function.

I t

[2018-03-06 04:18] #80 closed

[2018-03-06 09:09] mdbloice commented on #82
Hi @ssundar6087, sure let's try to fix the problem. This has something to do with how Augmentor and PIL handle saving images of different formats. Do your original files have file endings? I suppose they must if they were added to the pipeline in the first place... could you tell me the file types of the images you are trying to augment? Are they PNG with an alpha channel? Or are they JPEGs?

Than

[2018-03-06 09:38] mdbloice commented on #82
Also, are you maybe initialising the pipeline using the `save_format` parameter like so:
[code]
or something similar?

If you force a format using `save_format`, then you may get errors when augmenting images that cannot be saved in this format. For example when trying to save PNG images with an alpha channel as a JPEG image. Augmentor will not coerce these into a format that it can save.

[2018-03-06 18:03] ssundar6087 commented on #82
@mdbloice : thanks for the quick response
Here is the snippet of code I am using
`import Augmentor`
`p = Augmentor.Pipeline("/data/sairam/test_aug/")`
`p.ground_truth("/data/sairam/test_aug/ground_truth")`
`p.rotate(probability = 1, max_left_rotation =5, max_right_rotation =5)`
`p.flip_left_right(probability = 0.5)`
`p.flip_top_bottom(probability = 0.3)`
`p.sample(10)`

The input format is .jpg .

[2018-03-07 15:05] abrad1212 commented on #82
@mdbloice This is happening to me as well.
Files are in jpg format

[2018-03-07 16:06] mdbloice commented on #82
Ok, it is rather strange as this works on my end. Another question: are the ground truth images are also in the same format?

[2018-03-07 18:08] ssundar6087 commented on #82
@mdbloice the ground truth images are also .jpg and have the same names as the input files (per the readme.md)

What's weird is that it worked properly for the same set of images the first time. I then selected a subset of these images to augment differently, and that's when this happened.

[2018-03-08 08:18] mdbloice commented on #82
@ssundar6087 Ok, well what is also strange is that your error message contains no text. Normally you'd get something about why the image failed to save, but the error `Error writing f8aee8ea-418c-4742-a977-5896b2b160d5, .` makes little sense as it does not contain the error text that is normally printed.
Have you ruled out things like not having proper write access to the output folder?
In the mea

[2018-03-08 11:34] mdbloice commented on #82
Oh, and what version of Augmentor are you using?
You can check it quickly using
[code]
The current version is 0.2.0.

[2018-03-08 17:26] gnaygnak opened #83 "Something wrong occured when applying function ' ground_truth() function'"
When I was using your demo code to augment  original and mask images identically, I found I got different number of augmented mask and images! I can't figure out why this happened. This meant the mask and image were NOT AUGMENTED IDENTICALLY,  were they? Could you please help me to deal with this question, thanks.

[2018-03-08 17:34] Evizero commented on #83
Thanks for reporting the issue. However, this is not a lot of information to go on. can you provide some more details? for example the version you are using and some code with some comments at the places where you observed which inconsistency.

[2018-03-08 17:48] gnaygnak commented on #83
Ok, sure.  and Thank you for your timely reply. Here I'll give your some version informal, the code I'm running  and the result I got.
NAME                     VERSION
Augmentor                 0.2.0
numpy                     1.14.1
`p = Augmentor.Pipeline("train")
# Point to a directory containing ground truth data.
# Images with the same file names will be added as ground truth data
# and augmen

[2018-03-08 20:53] ssundar6087 commented on #82
@mdbloice The version I'm running is also 0.2.0

The output folder certainly has proper write access. It is the same folder to which I wrote out the first batch of augmented images. I have also tried creating a new folder and writing images out to that, but I still get the same issue. I agree that the error message is weird. In fact, it seems to resemble one of the names of the generated output im

[2018-03-09 08:34] mdbloice commented on #82
Ok, what does your folder structure look like? I mean the structure of the images folder relative to the ground_truth directory, and the contents of these folders. For example, are there sub-folders in the ground_truth directory? Are there sub-folders in the images directory? Is the ground_truth directory a sub-folder of the images folder by any chance?

Thanks!

[2018-03-09 08:45] mdbloice commented on #83
Hi @gnaygnak, how many images are in `train` and `mask` directories? Are there any sub folders in either directory?
I am having some issues with the new ground truth functionality, and trying to get to the bottom of it. In my tests things seem to work fine, but users are having some strange problems...

[2018-03-09 16:54] AmandaBoatswain commented on #78
Hello mdbloice,

Here are the specific operations that I used with the library:
generator.**rotate**(probability=1, max_left_rotation=5, max_right_rotation=5)
generator.**flip_left_right**(probability=0.5)
generator.**random_distortion**(probability=1, grid_width=4, grid_height=4, magnitude=8)
But like I said previously, the error was fixed when I changed mode parameter in the Image.fromarray() fu

[2018-03-09 18:42] ssundar6087 commented on #82
@mdbloice The folder structure is as follows :

Input Images
----|
      |
      ground_truth_images

The Ground Image folder is a sub folder of the input image folder. There are no other sub folders within both the ground truth and input image folder.

Is that an incorrect usage of the package?

[2018-03-09 22:05] ssundar6087 commented on #82
Quick update : when I moved the ground_truth folder out of the input_images folder, the script works without an issue.

[2018-03-10 15:00] gnaygnak commented on #83
Hi @mdbloice , I have known the reason. When you are applying the `ground_truth()` function, you must make sure that there is just single data in `train` and `mask` directories, right?
Thank you for replying.

[2018-03-16 13:19] Gloupys opened #84 "Randomizing the processed images"
Is there a way to randomize the images the pipeline processes? For me it always takes the images one by one in the listdir() list... Kind of a problem when I perform the same program several times.

[2018-03-19 04:22] CMCDragonkai opened #85 "Constructing Augmentor.Pipeline with a file path pointing to a directory that contains other directories results in the augmentor not finding any images"
When I had a directory with other directories within it and images, the `Augmentor.Pipeline()` finds 0 images.

[2018-03-19 04:32] CMCDragonkai commented on #85
Further testing shows that for reason if there's a subdirectory for example `another`, when constructing the pipeline, it decides to use that subdirectory as the source directory.

[2018-03-19 06:47] CMCDragonkai opened #86 "How to preserve the name of the files?"
When a file `image110.png` gets passed into the pipeline, out comes out something like `parent_dir_png_original_....` where `...` is a hash. Is there a way to know which image augmented image is related to the original image?

[2018-03-19 06:50] CMCDragonkai opened #87 "How to make this work with multiple masks?"
For any given image, there may be multiple masks (for used in instance segmentation). How does the `ground_truth` function work with this?

[2018-03-19 16:59] aginpatrick opened #89 "How to preserve third dimension after black and white transformation"
When B&W (or greyscale) transformation is applied to a RGB image, third channel is lost. Example: before transf, image shape is (436, 650, 3) and after it is (436, 650). Would it be possible (via a parameter maybe) to return result without losing dimension 3? ML frameworks often expect tensors of fixed size.

[2018-03-20 08:07] mdbloice commented on #89
Hi, @aginpatrick. Thanks for opening the issue - well yes, if you convert to greyscale then you will have an image with a single layer. What you want is actually to save a greyscale image as an RGB or other 3 layer format? I can add that as a parameter, sure (if that's what you mean).
M.

[2018-03-20 12:37] aginpatrick commented on #89
That's what I mean @mdbloice. Thank you by the way for your very useful package.

[2018-03-20 14:51] aginpatrick commented on #89
@mdbloice Actually I realize after testing it that the third dimension was preserved with Augmentor 0.1.10. Problem appeared with Augmentor 0.2.0. Bug?

[2018-03-20 16:16] gauthiermartin commented on #89
I have been able to reproduce this bug.

Using augmentor 0.2.0 , Pillow 5.0.0 and numpy  1.14.2.
Printing np.asarray(image) of an augmented image gives me.

<_io.BufferedReader name='/home/spark/Desktop/toto/tata_original_23b55503-9bfc-4f51-99c7-71b97bad536d.jpg'>
(350, 633)

Using augmentor 0.1.10 , pillow 5.0.0. and numpy 1.14.2.
Printing np.asarray(image) of an augmented image gives me.

<_io.B

[2018-03-22 09:26] mdbloice commented on #83
Hi @gnaygnak, no it should work with any number of images. As long as the file names match between the two directories you can use any number of images.
M.

[2018-03-22 09:29] mdbloice commented on #84
Hi @Gloupys, well not currently not, how do you mean that this is a problem? If you have 10 images in the pipeline and you make 100 new images, then it will cycle through those 10 images 10 times, in the order they are read by `glob`: <https://docs.python.org/2/library/glob.html>. I suppose they could be randomised, but what exactly do you mean when you say it is problematic if you run the same pr

[2018-03-22 09:33] mdbloice commented on #89
Ok I will fix this by adding a parameter to preserver the old functionality. I made some changes between versions because I figured by specifying greyscale, most users would want single layer images actually. But I will add a parameter so that you can specify that you want 3 layer RGB greyscale images.

[2018-03-22 09:37] mdbloice commented on #87
Hi @CMCDragonkai. Right now, Augmentor works with one mask. However, all the operations are actually capable of taking an arbitrarily long list of images to augment identically (this was part of a rewrite for version 0.2.0, as previously all operations worked on single images only), so this is a feature I plan to add very soon. I just need to think of a nice way to specify several masks.

[2018-03-22 10:00] mdbloice commented on #28
@CMCDragonkai, I guess I overlooked it, will add it for the next version for sure.

[2018-03-22 10:02] mdbloice commented on #82
@ssundar6087, thanks for letting me know, I will fix that bug ASAP. I suppose my tests didn't pick up that scenario, but I am pleased there is a workaround for now at least.
M.

[2018-03-23 13:53] mdbloice commented on #28
Fixed in https://github.com/mdbloice/Augmentor/commit/56dccfc08ac742d03791977b7041ecc646d3173a, PyPI version update to come in the next few days.

[2018-03-23 13:53] #28 closed

[2018-03-25 08:04] mdbloice commented on #25
Hi @devforfu, sorry I missed this message completely - yeah this functionality is now included, see <https://github.com/mdbloice/Augmentor/blob/master/notebooks/Augmentor_Keras_Array_Data.ipynb> for an example using MNIST and Keras. Basically there is a generator function that allows you to pass array data and it returns array data for use with Keras, but there is also a function that allows you t

[2018-03-25 08:04] #25 closed

[2018-03-27 02:47] gmonkman opened #90 "Pipeline.sample_with_array, appears to requre an (n h w c) ndarray, but PIL fromarray appears to be then erroring."
[code]

Gets a bit further by adding an extra dim, but fails in PIL due to extra axis-0;

[code]

I hope i'm using it correctly, I just want to pass in an ndarray of type uint8, which i've done some custom preprocessing on, and get out a transformed ndarray.

[2018-03-27 04:02] gmonkman opened #91 "If a source directory has an empty folder in it, program reports no images in source directory"
As per title. OS windows 10.

Create source directory, populate with some jpgs. Create empty folder in source. Program reports source is empty.

[2018-03-27 04:48] gmonkman opened #92 "No jpg files read from source directory if I pass an existing output_directory"
As per the title.

[2018-03-27 16:25] kmader opened #94 "Use data.frame, dict, or list as pipeline input"
It would be great if you could feed an ```Augmentor.Pipeline``` with other data sources like data.frames, dicts or lists for data that are not organized nicely in folders or where the categorical information looks different

[2018-03-27 18:19] kmader commented on #94
An example of where this is helpful is the mammography dataset where you get a csv file describing each image

https://www.kaggle.com/kmader/high-res-pretrained-vgg16-for-mammography

or the NIH Chest X-Ray Dataset

https://www.kaggle.com/nih-chest-xrays/data

[2018-03-28 01:18] ccatalfo opened #96 "README Quick Start Guide referencing max_right instead of max_right_rotation"
I noticed when first starting to use this awesome project that the Quick Start Guide still uses `max_right` and `max_left` parameters to rotate method whereas they seem to have been renamed to `max_right_rotation` and `max_left_rotation`.

I was momentarily tripped up when following the Quick Start Guide until I realized what the issue was.

[2018-03-28 01:20] ccatalfo commented on #96
I issued a PR to fix this: https://github.com/mdbloice/Augmentor/pull/97.

[2018-03-28 12:48] gauthiermartin commented on #89
Thank you :+1:

[2018-03-29 04:35] liangt commented on #90
As far as I know, this is a bug. Actually, sample_with_array accepts a single image in array-like format, so your first usage should be right. However, this is a bug in sample_with_array. sample_with_array just calls _excute, while _excute currently only supports pass image through the current pipeline, when you pass array, the result is just an empty array, so you get IndexError.

[2018-03-29 08:23] mdbloice commented on #94
Hi @kmader, sorry for the delays and thanks a great deal for your efforts - I just merged your PR, and I'll upload a new version with various other fixes to PyPI hopefully today!

[2018-03-29 08:23] #94 closed

[2018-03-29 09:20] mdbloice commented on #96
Hi @ccatalfo thanks a lot, but this was actually just addressed with PR #93 which i merged a few minutes ago :-)

[2018-03-29 09:20] #96 closed

[2018-03-29 13:15] ccatalfo commented on #96
@mdbloice ah, missed that then.   Thanks.

[2018-04-01 04:36] marsggbo opened #99 "import Augmentor error"
[code]

[2018-04-02 09:18] dipanjanS commented on #78
This is confirmed, keras_generator_from_array() is not working on RGB images due to this

[code]

It expects a 2D image but we need a 3-D image when using ones with RGB channels

[2018-04-02 18:22] luozm opened #100 "How to do augmentations for images in memory in stead of disk"
Hi,
Thanks for the awesome library! I want to know how to apply some transforms to a given image and return transformed image? I see a keras_generator method, but I only want the transformed images instead of the generator for keras. Is that possible now?

[2018-04-03 07:02] mdbloice commented on #99
You'll need to reinstall PIL as that seems the be the issue here...
M.

[2018-04-03 07:02] #99 closed

[2018-04-04 13:49] Bala93 opened #101 "Augmentation for the bounding box"
Can the augmentation being applied to the image also be applied to the bounding box ?

For example, if the object in an image is given by bounding box. Applying the transformation to the object should also be applied to the bounding box. So that this tool can also be used in object detection tasks.

Thank you.

[2018-04-04 18:36] Bala93 commented on #101
I am thinking of implementing this add-on feature. Can i contribute to your repository ?

[2018-04-05 09:51] mdbloice commented on #101
Hi @Bala93 - this is currently not a feature and actually I'm prioritising a few other features right now, so if you wanna make a PR by all means be my guest.
I'd say it might make sense to concentrate on getting this working with some of the more basic operations, such as flips and perhaps rotations, before trying to get it to work with the random distortion operation, for example.
Many thanks fo

[2018-04-05 13:03] Bala93 commented on #101
Hi @mdbloice -- I am planning for some basic operations as you mentioned.
Will do PR and update you.

[2018-04-07 11:31] Oktai15 commented on #39
@mdbloice but if I generate ground truth on the fly? How can I pass it in Pipeline so that image and mask will be transformed equally?

[2018-04-08 07:47] WangXin93 opened #102 "Bug when join Augmentor to torchvision"
Hi, everyone:
I just found a bug when I wanted to use `Augmentor.Pipeline` in `torchvision`. The following demo code can illustrate this:
[code]
Run this code directly could raise error `AttributeError: 'list' object has no attribute 'size'`, this is because `Pipeline.torch_transform()` turns image into `list`, but `torch` need `PIL Image`.

I just change one line in `Pipeline.py` file:
[code]

an

[2018-04-08 10:57] devforfu commented on #47
@benjaminbarbe I guess that the is no too much difference in case of tensorflow. At least, when you're righting a training loop by hand, like in this snippet (probably has typos, but I guess you've got the idea):
[code]

Probably there are some helpful utils in the library to simplify that process. Though if you want to augment images on GPU, then you need something more involved.

[2018-04-09 08:03] tchaton opened #103 "Possible Improvment"
Good morning,

I have been playing a lot with Augmentor, and I have several suggestions to really improve it.
1 . Add possible npy loading (I have almost finished implementing it)
2 . Rely more on https://github.com/aleju/imgaug for imgAug. (We don t have to re-implement everything)
3 . Add support for random variable into the pipeline, each element could be sample and improve randomness from the

[2018-04-10 05:29] tadbeer opened #104 "Allow PNGs as ground truths of jpeg images."
I mostly create my ground truth images, for my images in my dataset, manually by painting with hand in an image editor like MS Paint. In order to later extract the ground truth information algorithmically from them, the extraction logic (made for eg. in OpenCV/skimage) works best when the GT image is in a lossless format like png. This is because I can direct the algo to locate the exact RGB value

[2018-04-10 21:11] tmquan commented on #51
May I ask whether the 'NEAREST' interpolation has supported yet? Is it fine to pass the interpolation strategy as an argument to the pipeline?

[2018-04-13 16:35] kasperkamperman commented on #75
I think I have this issue as well.

[code]

When I run this the 20 files are directly processed I can open them in Finder. However in the shell it's still printing very slowly the steps. I did this for 200 files as well and there indeed processing seemed to slow down, however the files were actually already rendered really fast.

Slow output:
[code]

[2018-04-13 16:57] mdbloice commented on #75
Hi @kasperkamperman, yeah that seems strange, it looks like you are using Mac, I wonder if that is the problem... actually, a good thing to do is make sure you are using the latest versions of tqdm and Pillow and all of Augmentor's dependencies. I have never come across this issue, and I mainly test in Linux and Mac.
However, I just released a new version of Augmentor today, version 0.2.1, maybe t

[2018-04-13 20:49] johndpope commented on #50
breaking 3D Object Detection  https://github.com/charlesq34/frustum-pointnets

[2018-04-13 21:25] kasperkamperman commented on #75
I just installed Augmentor today, so I have the recent version (and I think it should automatically download all the required packages). I've checked the installed versions with `python3 -m pip show <package name>`:

[code]

I think the problem might be in showing the progress and not the progress itself. Is there not a flag to disable the display of the progress?

[2018-04-14 18:59] kasperkamperman commented on #66
Maybe a noob question (just starting with Python) however looking for the error I didn't came any further.
I tried to call the function like this `p.rotate_without_crop(probability=0.5,-90, 90, true)`
and I get a pop-up error like `positional argument follows keyword argument` (pointing at the comma behind 0.5).

[2018-04-14 19:03] kasperkamperman commented on #66
Sorry... indeed a n00b question. Forgot the parameter name. Call should be:
`p.rotate_without_crop(probability=0.5,max_left_rotation=-90, max_right_rotation=90, expand = True)`

[2018-04-15 16:34] VikramRadhakrishnan commented on #87
HI @mdbloice . Has this implementation been added to Augmentor yet? Is it capable of taking a ground truth image plus a list of masks?

[2018-04-19 09:24] BlanchonMarc opened #106 "[RFC] Augmengation for Multi-Modal Dataset"
Hello,

Actually working on a multimodal pixel wise segmentation, my dataset is composed of multi inputs with only one ground truth (times N_images).
From that situations, the ideal case would be to compose a number of augmentations on 5 to 10 images simultaneously. I dont know if this is possible ,  I saw the reflection leading to the ground truth path addition in #39 but in my case I would like

[2018-04-19 10:00] mdbloice commented on #106
Hi @BlanchonMarc, yeah I am actually working on adding that functionality right now and I hope it will be ready soon. Once it is done, I'll drop a message here.

[2018-04-21 08:56] DonghunP opened #107 "AttributorError: module 'Augmentor' has no attribute 'Pipeline'"
I really excited to use Augmentor. But when I'm implementing 'Augmentor'

There is an error

AttributeError:  module 'Augmentor' has no attribute 'Pipeline'

what am I doing wrong..?

[2018-04-21 08:57] DonghunP commented on #60
Could you write solution how you solve the problem?? Thanks.

[2018-04-21 09:44] DonghunP commented on #107
solved. I implement Augmentor.py which has same name of module. dude.

[2018-04-21 09:44] #107 closed

[2018-04-23 08:23] zhaoxin111 opened #108 "how to use ground_truth?"
Hi, It is a very nice job !

here I have some confusion  about the  usage of  ground_truth.

I want to  augment the  image and it's masks(here every image has two different mask ) simultaneously,
How can I realize the idea with ground_truth?

show  me some example will be excellent

thank  you

[2018-04-23 08:29] zhaoxin111 commented on #87
hi@mdbloice  , does the multi  masks augmentation finished yet?

[2018-04-23 08:39] mdbloice commented on #108
Hi @zhaoxin111, yes this is something I am working on - it's been requested a few times so it seems to be functionality that many people would find useful. So I'll try to make it a priority and get it added soon.

[2018-04-25 15:58] lukas-schott opened #109 "Incompatibility to pytorch: Some transformations return lists for singe Image"
The pipeline is not compatible with pytorch because the operations return lists
[ <PIL.Image.Image image mode=L size=28x28 at 0x7F4C6F113A90>]
but expect as input:
<PIL.Image.Image image mode=L size=28x28 at 0x7F4C6F113A90>

Here a minimalistic example, where I show what the MNIST dataloader does internally and why it fails..

[code]

[2018-04-25 16:06] lukas-schott commented on #109
workaround:

[code]

[2018-04-26 18:32] mhnatiuk commented on #62
Hi,
I need to use Augmentor to process images file-by-file (i am generating artifical dataset and I have to do more operations than just augmenting). Im doing exactly what you posted above, however for
`augmentation_pipeline.sample_with_array(np.asarray(img))` (a numpy array) I get error:
[code]

[2018-05-11 09:42] npmhung opened #111 "Crop by size give mismatch results between the groundtruth and original image."
When I set the centre property to False, the groundtruth and the original image are cropped at different locations while the expected behavior is that both images are cropped at the same location.

[2018-05-11 09:52] mdbloice commented on #111
Hi @npmhung, yes indeed you are right, there is a bug in the `Crop` class that I have just found. Thanks for pointing this out, I will fix this ASAP.

[2018-05-11 11:29] mdbloice commented on #111
@npmhung, I just uploaded a new version of Augmentor (0.2.2) to PyPI so if you upgrade this should now be fixed (`pip install Augmentor --upgrade`).
M.

[2018-05-11 11:29] #111 closed

[2018-05-11 14:28] ChenWentai commented on #108
Hello @mdbloice ,
I am working on a image segmentation task where each image has only one mask. I succeed augmenting both data and masks by adding _p.ground_truth("ground_truth_path")_ and then _p.sample(N)_, which will automatically produce the augmented images and masks and store them in "output" folder.

However, when I try _"Augmentor.Pipeline.keras_generator()"_. It seems that this function c

[2018-05-13 06:32] npmhung opened #112 "Wrong mode for random_contrast and random_brightness"
I have recently detect an issue in these 2 functions.
After glancing at your code, I found out that the image should be conver to mode 'L'/ mode 1 before applying the brightness/contrast operation or else it could raise an error.

Quick fix:
`class my_convert_mode(Operation):
    # Here you can accept as many custom parameters as required:
    def __init__(self, probability):
        # Call the su

[2018-05-13 08:08] jsherman256 commented on #103
I would love it if I could pass a DataFrame to the Pipeline constructor. My training set is 28x28 pixel images in a DataFrame (not actual image files). It would be very convenient to just pass that DataFrame directly to the constructor. Is that what you are implementing as part 1? If so, I'd be very interested in using it :)

[2018-05-13 21:12] Issam28 opened #113 "Support for 3D data?"
hi,
I want to know wheather you are planning on adding support for 3D data, data that have this shape (Nb_samples, Z, Y, X, Nb_channels) ?
Thanks,

[2018-05-14 06:11] tchaton commented on #103
Using the data frame pipeline U can. U just need to have file path and
label .

Le dimanche 13 mai 2018, jsherman256 <notifications@github.com> a écrit :

[2018-05-14 10:34] tamkaho commented on #108
Is there any way to transform a pair of images (image + ground truth) on the fly without saving them on a disk?

[2018-05-14 14:21] OldKing20016 commented on #102
2

[2018-05-16 10:29] kmsravindra commented on #101
@Bala93, Just checking if this has been implemented? I have a similar requirement for object detection. Please let me know.

[2018-05-16 11:14] kmsravindra commented on #68
@mdbloice, Thanks for this awesome library. Just wondering similar to transforming the mask, is it possible to transform the bounding box coordinates as well ?

[2018-05-17 10:02] akansal1 opened #114 "Augment Color of images but not in masks of ground truth for Image segmentation"
I am working on a image segmentation problem where I would like to augment images, all color augmentation methods also affect ground truth data, is there a way where I can keep ground truth constant for the selected augmentation operations

thanks

[2018-05-21 03:51] WangXin93 commented on #102
Can you give a more detailed description about your situation? Have you made sure you installed the package after change the line?

[2018-05-21 15:28] ChenWentai commented on #108
@tamkaho
Hello tamkaho,  augmentation applied both on images and ground truth(without saving them to disk) can be achieved by keras.preprocessing.image.ImageDataGenerator(), and then use flow() or flow_from_directory() method. A detail example can be found in keras documents, which shows how to do the augmentation: [https://keras.io/preprocessing/image/](example)

I have already implemented this i

[2018-05-25 08:12] bezigon opened #115 "How to crop a skewed image without losing content?"
Similar to #66. When using the skewing function the automatic crop removes some of the content of the original image.

Here is an example:

Original:
![algorithm1demonstration1](https://user-images.githubusercontent.com/771853/40533649-17016dd8-600c-11e8-91d1-81cb4087c5de.JPG)
Skewed:
![source_original_algorithm1demonstration1 jpg_6b8c27fe-dc27-4dcd-aaab-cdbb5808f66e](https://user-images.githubuse

[2018-05-25 08:33] mdbloice commented on #115
HI @bezigon, well no not really because by adding this angle you will lose some of the image if you maintain the image size and dimensions, take a look at *Skew Type 1* from the README file, you'll see what is lost when any of these types of operations are performed...

[2018-05-25 08:45] mdbloice commented on #115
Actually, it seems you used a tilt operation, perhaps an operation such as Skew Type 1 would be better as you will only "lose" the top portion of the image...

[2018-05-25 11:59] bezigon commented on #115
I've forked code for my purposes, thanks anyway!

[2018-05-25 11:59] #115 closed

[2018-06-01 10:51] unnir commented on #62
@mhnatiuk

you can do it like this:

[code]

And then change your image:
`p.sample_with_array((X_train[0].reshape(480,480)))`

If it does not work, check this:
https://github.com/mdbloice/Augmentor/issues/90

[2018-06-02 09:47] UriOr6593 opened #116 "using the ground_truth augmentation with pytorch"
Hey!
The new feature that allows using the same augmentations for the images and their corresponding ground-truth is great, I am trying to use it with the pytorch transform.
The problem is that the transform receives only one image as input, is there a way to use this feature with the pytorch transform?

Thank's

[2018-06-05 13:59] luciaL opened #118 "Keras Generator with three-channel image and one-channel mask"
I am working on the image segmentation. I am trying to creating a keras generator for the image and mask with this package. My training image  is a numpy array of form [ num_images, width ,height, nb_channels] where nb_channels =3. My training mask is a numpy array of form[num_image, width,height,1]. I have tried
g = p.keras_generator_from_array(X_train,y_train,batch_size = 10)
X,y = next(g)
Then

[2018-06-06 03:50] luciaL opened #119 "Augmentor for ground truth data"
Hello, I tried the code on the website:
p = Augmentor.Pipeline("/path/to/images")
p.ground_truth("/path/to/ground_truth_images")
p.rotate(probability=1, max_left_rotation=5, max_right_rotation=5)
g = p.keras_generator(batch_size=16)
images, labels = next(g)
Then I fed the generator to keras to train:
model.fit_generator(g,step_per_epoch = 100,epoch =5)
Then I got a error：Cannot feed value of shape

[2018-06-09 06:41] hardik124 commented on #119
For some reason, even if ground truth is provided, Keras generator returns an array of 0's as labels

[2018-06-10 12:25] Alissonerdx opened #120 "Disable saving of the original images in the output folder"
How to disable saving of the original images in the output folder?

[2018-06-12 22:01] kekeller commented on #104
I would also love this. Using a jpg as a mask doesn't work so well if you need specific pixel values for the training.

I got around it by converting the image and the mask to tif images.

[2018-06-14 05:44] blateyang commented on #108
Hello,  @ChenWentai,
I am also want to augment the image and its ground truth annotation simultaneously, but the ground truth is bounding box for me . I wonder whether your mask annotations are in COCO json format. If so, can you share me your processing procedure about augmenting both the image and its ground truth annotation as refer? Thanks in advance!

[2018-06-19 13:14] 939706171 commented on #119
@hardik124 I get the same trouble,and wanna know what the reason it is,and how to solve it.Thank you

[2018-07-02 07:13] tchaton opened #123 "Mdbloice, check that out !"
Nvidia optimized image pipeline.

We should maybe integrate it as the main backend of Augmentor.

https://github.com/NVIDIA/DALI

[2018-07-02 07:49] tchaton commented on #123
Hello,

You won t be able to change them. They are highly optimized gpu operation
over images. However, I think the interface of Augmentor is extremly nice,
and would be awesome with this kind of Backend.
I was thinking about a user adding a path, batch_size and augmentation, and
we create the Tf_records for him, and we use this library to increase the
loading of images.
I could be a separate proj

[2018-07-02 09:19] Palslayers opened #124 "How to know from which source image an augmented image is ?"
Good morning,

For my application (augmentation of images for YOLOv3 **and** bounding box), I would need to know is there is one way to have the path of the original image being augmented ?

It is essential to be able to find the number of the class associated with the label

Thank you very much !

[2018-07-09 15:00] fabio-C opened #125 "Translate operation"
How can I perform a simply translate operation? I need to mantain the image size, and moving image left/right up/down of a random value.

[2018-07-29 14:18] npielawski commented on #119
I am having the same problem. Looking at the code, the ground truth images can only be exported, otherwise they are dumped. I corrected the code but it isn't backward compatible with respect to the _execute function (it returns an array of images instead of a single image), so I don't know if it would be accepted.

[2018-07-31 09:43] sliawatimena opened #127 "ImportError: DLL load failed: The specified module could not be found."
I am using Python 3.6.5, Ipython 6.4.0, try to import Augmentor, pillow 5.1.0
when I type:
from PIL import Image,

it generates error.

[code]

how to correct this problem? thanks.

[2018-07-31 09:52] mdbloice commented on #127
Hi @sliawatimena, it looks like Pillow needs a DLL that doesn't match up to whatever you have installed on your system.

Perhaps try what is suggested here: <https://stackoverflow.com/questions/20201868/importerror-dll-load-failed-the-specified-module-could-not-be-found>

Let me know if this helps.
M.

[2018-07-31 10:30] sliawatimena commented on #127
(still in progress)

another suggestion are:
a. to install Pillow 5.2.0 (not 5.1.0)

b. removing pillow using conda and installing using pip
$ conda remove pillow
$ pip install pillow

[2018-07-31 10:42] mdbloice commented on #127
Yeah, I test against the latest version of Pillow whatever that is on PyPI. Looking at the Travis CI logs I see that was version `pillow-5.1.0` for Python 3.6 so I kinda doubt that's the problem you are having. Anyway, let me know.

[2018-08-01 09:29] bottlecrasher opened #128 "Cannot detect synthesized images"
I tried to augment synthesized image from PIL library. But Augmentor failed to detect my image files. I tried jpeg and png file extension and ubuntu authority, etc, but there is no idea what is going wrong. I already used Augmentor to other datasets, so I strongly assure that library installed correctly. Have anyone experienced the same thing?

Next is the code that how I created the Image.

text_

[2018-08-01 09:44] mdbloice commented on #128
Hi @bottlecrasher, really not sure what might be the issue there. What error does Augmentor itself throw when you try to use these images that you have saved?
Normally anything created by PIL/Pillow will be read fine by Augmentor...

[2018-08-02 01:34] bottlecrasher commented on #128
Thanks for your reply.
Yes, The problem is when I create initialize pipeline object, it cannot detect the synthesized images in the folder.

Error Message :
**Output directory set to ./data/0x21/output.Initialised with 0 image(s) found.**
  File "/home/kimjonghyuk/anaconda3/envs/facenet/lib/python3.6/site-packages/IPython/core/interactiveshell.py", line 2963, in run_code
    exec(code_obj, self.us

[2018-08-02 01:40] bottlecrasher commented on #128
I attach my one of image here. I tried right now, but also failed.

![0x21_851mkpop_001](https://user-images.githubusercontent.com/28390993/43557621-6fb3a486-9640-11e8-9694-bf838973b26e.jpeg)

[2018-08-02 01:40] #128 closed

[2018-08-02 07:32] mdbloice commented on #128
Right, the files need extensions otherwise the scan won't find any images in the directory you point to. Glad you sorted it out.
M.

[2018-08-06 08:06] ivicts opened #130 "How can I reproduce to the exact same precision of an experiment?"
Hi, I wanted to know how can I create a reproducible experiment using augmentor? I have tried to set augmentor seed, python random seed, numpy random seed to a fixed value , but I always getting a different augmented images after I run the experiment again.

[code]

I have tried to put the seed like these before each operations but it is also not working..
[code]

[2018-08-06 08:07] ivicts commented on #130
[code]

[2018-08-06 10:01] mdbloice commented on #130
Hi @ivicts, well normally I would imagine that if you were setting the Python seed, and the NumPy seed, then it should be reproducible. I am presuming that of course you are restarting a Python session each time you re-run the experiment? Apart from that I do not really know what could be causing it to be non-reproducible... sorry I can't be of more help.

[2018-08-06 10:54] ivicts commented on #130
hi @mdbloice I have found the problem. You have to set the multi_threaded=False (+seed) to have it reproducible.

So,

`def augment_folder(path_to_data,num_of_samples,path_to_output='./'):

    random.seed(0)
    np.random.seed(0)
    os.environ['PYTHONHASHSEED'] = '0'
    # Create a pipeline
    p = Augmentor.Pipeline(path_to_data,path_to_output)
    p.set_seed(0)
    p.flip_left_right(probabilit

[2018-08-06 11:05] mdbloice commented on #130
Hi @ivicts ok awesome, that makes sense actually - I will document this in the README or in the user guide for sure. Thanks for the help.

[2018-08-06 11:05] #130 closed

[2018-08-07 08:31] ivicts commented on #125
[code]

Next,add this on your pipeline:

[code]

[2018-08-07 08:57] mdbloice commented on #125
Hi @fabio-C, first of all sorry for the delay in replying I've been away from my office for several weeks now. Translate is currently not supported, but I can add it in the next release. The trouble is that you need to fill the empty space with some background colour (or transparency) and there are several ways to do that (such as extrapolating) so I will have to work on that before I can add it.

[2018-08-09 22:52] FiReTiTi commented on #87
Hi,
I also need it.
Has it been implemented?

[2018-08-10 02:53] xylcbd commented on #39
@Oktai15 @mdbloice do you solved the issue with ground-truth on the fly? or any suggestion?

[2018-08-10 06:53] FiReTiTi opened #132 "Image to Image issue"
Hi,
I have RGB input images and a binary mask as ground truth. So I used the code provided as example:

    p = Augmentor.Pipeline("/path/to/images")
    p.ground_truth("/path/to/ground_truth_images")

First thing, it does not work if I give a relative path for the images, it has the be the full paths for both directories of images.

Then, I tried to use it with Keras:

    gen = p.keras_generator

[2018-08-10 07:13] mdbloice commented on #87
Hi @CMCDragonkai, @VikramRadhakrishnan, @zhaoxin111, @FiReTiTi, the multi-mask feature is very close to being completed, I have been working on it the last couple of weeks, and I should have a version up in the next few days.

[2018-08-10 07:14] FiReTiTi commented on #87
Thanks a lot. Please, let me know when you have something, I'll gladly test it.

[2018-08-10 07:15] mdbloice commented on #39
@Oktai15, @xylcbd - I have been working on this just recently and it will be finished in the next few days. So look out for a new version on PyPI soon. I'll drop a message here also once I've pushed the update.

[2018-08-10 07:16] mdbloice commented on #87
I'll drop a message here @FiReTiTi once I have pushed the new version on to PyPI!

[2018-08-10 07:17] mdbloice commented on #132
Yeah @FiReTiTi, currently the generators do not support masks. But that's gonna change in the next version also :-)

[2018-08-15 05:57] manashmndl commented on #101
@mdbloice @Bala93 I also have similar requirements for object detection. :cry:

[2018-08-17 05:50] Bala93 commented on #101
@mdbloice @kmsravindra @manashmndl I have made some changes in the code which will augment both the image and mask simultaneously. But that will work only when there is no overlap between masks. The changes made will work very well if there is only one object in an image. Will send the changes made in some time.

[2018-08-17 07:34] manashmndl commented on #101
@Bala93 I guess I can work with non overlapping bounding boxes! Please comment here after you've pushed the updates. Thanks in advance.

[2018-08-17 10:04] kmsravindra commented on #101
Thanks @Bala93

[2018-08-17 19:27] xuzhang5788 commented on #113
I also want to ask the same question as @Issam28. Looking forward to hearing from you.

[2018-08-27 18:11] morawi opened #134 "Operations.Distort result in type _E datatype for the image!"
Why the result after distortion is not stored in an 8 bit channel?

I did not manage to convert it back to the range [0,1] or [0,255].

I used image.convert('L'), but I am still having errors.

Oh, and I am using PyTorch.

Thx.

[2018-09-06 07:01] matsui528 opened #135 "Error for a single class images"
Hi, thanks for this wonderful library!

I found that an error is thrown if there exists only one class for images. Is this expected behavior?

Minimum code to reproduce the problem:
If there are two classes, the following code works
[code]
[code]
[code]
However, if there is only one class, it doesn't seems the following code works:
[code]
[code]
[code]

My environment is:
- ubuntu 16.04
- conda 4.

[2018-09-06 07:33] mdbloice commented on #135
Hi @matsui528 glad you are making use of the library :-)
Yeah, basically although the error is a strange one and not very informative, I think it is because you have a directory `img_single_class` and then another directory `dog` for your single class. It would be better if you just initialised the pipeline within the `dog` directory that contains the images.

However, thanks for making this issue

[2018-09-06 07:59] matsui528 commented on #135
Got it. `p = Augmentor.Pipeline('img_single_class/dog')` works perfectly. Thank you again for your great library!

[2018-09-06 07:59] #135 closed

[2018-09-06 08:12] mdbloice commented on #135
Great, glad it's working. I am working a major update that will be released *soon*, hopefully I can also include this fix as well. Thanks again for pointing this out!

[2018-09-06 08:18] mdbloice commented on #134
Hi @morawi, I've been away from my office for a few weeks so apologies for the delay.

Not sure exactly what you mean here, are you talking about the images that have been returned from the pipeline? What error do you get when you try to convert using `image.convert('L')`?

[2018-09-06 12:31] morawi commented on #134
Hi @mdbloice
there was something that resulted in this type _E datatype when I used `image.convert('L') ` !
Not sure if it was my mistake?
Apparently, my input image was binary and the Augmentor resulted in a gray level image. To revert the image back to binary format, I used `image = image > image.mean()` , but here's the full code for convenience.

[code]

[2018-09-07 10:11] mdbloice commented on #134
Hi @morawi Ok I am gonna have to check that out in more detail and get back to you. Could you also send me the error message that is thrown?

[2018-09-07 11:08] morawi commented on #134
Well @mdbloice,
it is a bit confusing to go back to the original code, as I have done a lot of changes to the code, also I am using git control, it'll take some time for me to figure out what and where was the error.
Nonetheless, I have tried to skip the thresholding method above and use `convert('L') ` and, surprisingly, everything was fine. However, the thresholding of `convert('L')` was not as

[2018-09-07 11:13] mdbloice commented on #134
Hi @morawi right OK, well if this works for you now that's good, I will take a look at it when I get the chance and see where maybe this error might have been happening, so thanks for pointing it out. For now though I guess as there is no concrete error I can work with I will just have to leave this issue as is and try and get back to it one time...

[2018-09-07 11:41] mdbloice commented on #134
I really do not know what the `not supported between instances of '_E'` error is supposed to mean. Aside from it being a type mismatch.

In the Augmentor package's code itself, in the `Operations` module, I use this code:
[code]

See: <https://github.com/mdbloice/Augmentor/blob/master/Augmentor/Operations.py#L254-L259>

Maybe try something like that.
M.

[2018-09-07 16:42] jaelim commented on #108
@ChenWentai Hi there, In your ground_truth directory, does it contain images and bounding box coordinate (mask) text files? It sounds like you applied transformation to image and also to the location of bounding box (mask) in augmentation. Can you elaborate?

[2018-09-07 16:53] jaelim commented on #68
@mdbloice Hi there, Can you explain more about masks in the ground truth directory? I have image files and annotation files (a text file containing coordinates and dimensions of bounding boxes). My interest is to apply augmentation on image (shift, rotation, or flip), but also similarly to grounding boxes (masks?). Thanks.

[2018-09-07 18:41] jaelim commented on #101
@Bala93 Have you push your code? Where can I find it? Thanks.

[2018-09-08 21:09] ChenWentai commented on #108
@blateyang @jaelim
Hello, I was using [Warwick-QU dataset](https://warwick.ac.uk/fac/sci/dcs/research/tia/glascontest/) and my ground truth is the labeling of objects: 0 for background and 1 for objects. So it does not contain any bounding box. Sorry I cannot help in this case!

[2018-09-09 01:46] blateyang commented on #108
It doesn't matter. I'll try to make bbox ground_truth by myself.

At 2018-09-09 05:09:24, "CHEN Wentai" <notifications@github.com> wrote:

@blateyang@jaelim
Hello, I was using Warwick-QU dataset and my ground truth is the labeling of objects: 0 for background and 1 for objects. So it does not contain any bounding box. Sorry I cannot help in this case!

—
You are receiving this because you were men

[2018-09-09 10:14] bluesky314 opened #136 "Initialised with 0 image(s) found."
p=Augmentor.Pipeline(source_directory="/Users/admin/Desktop/img2",output_directory="/Users/admin/Desktop/img")

Hey, my augmenter is unable to detect any images in the source folder. I put the relevant formats yet nothing gets detected. What exactly could be going wrong?

I also get an Attribution error when my folder contains a folder that has the images. "AttributeError: __exit__"

please help

[2018-09-09 10:47] bluesky314 commented on #136
When I put in a directory with images, here is the error location:

 with Image.open(augmentor_image.image_path) as opened_image:
    173                     self.distinct_dimensions.add(opened_image.size)
    174                     self.distinct_formats.add(opened_image.format)

/Users/admin/anaconda2/lib/python2.7/site-packages/PIL/PIL/Image.pyc in __getattr__(self, name)
    510             ne

[2018-09-10 18:02] ArthurSav commented on #82
I assume this is not fixed yet, using **v0.2.2.**

Folder structure: `data/characters01` (No other files/folders in `data` except for character01)

If i set the root folder as **data**, i get an error:

`p = Augmentor.Pipeline("data", save_format='png')`
`Initialised with 20 image(s) found.
Output directory set to data/output.`
...
`Error writing 46848e76-74a3-413d-ae84-e5f59c5dde89, . Change save

[2018-09-11 07:36] mdbloice commented on #82
Hi @ArthurSav yeah if you have 1 class then it is best to initialise in a directory that contains only the images for that class. If you have multiple classes then initialise within a directory that contains sub-directories, one directory for each class.

[2018-09-13 07:30] mdbloice commented on #104
Hi @tadbeer, @kekeller a new feature just added should let you do that, see <https://github.com/mdbloice/Augmentor/blob/master/notebooks/Multiple-Mask-Augmentation.ipynb> for details. Basically a new DataPipeline class has been added that is more flexible for when you are using ground truth data of different formats and so on.

[2018-09-13 07:30] #104 closed

[2018-09-13 07:36] mdbloice commented on #119
Hi @luciaL, @hardik124, @npielawski - first off sorry for the delay in replying, I have been away for most of the summer. Are you using TensorFlow? I have not tested Augmentor's generators with TensorFlow, only with Keras so if such issues are occurring with TF I will need to look into it more closely and try to get back to you.

[2018-09-15 09:13] simongeek opened #138 "Pipeline does not work"
Hi!

When I want to run Pipeline such as below:
[code]

I got error in line p.sample(2000):

How to fix it?

I'm working on OSX system.

[2018-09-17 07:18] mdbloice commented on #138
Hi @simongeek, it seems to me like the no images were found. You can call `p.status()` to see what images are associated with the current pipeline object, you'll get something like this printed to the console:

[code]

M.

[2018-09-17 18:36] jaelim commented on #108
@ChenWentai @blateyang I found out what `mask` (an example of this is shown in the repo) is; it is not a bounding-box (as in object detection model) as I incorrectly assumed.

[2018-09-19 08:38] simongeek commented on #138
It's now correct! Thanks! 👍

[2018-09-19 08:38] #138 closed

[2018-09-21 18:08] hardiktechnoplanet commented on #55
Hi @mdbloice , have you added the scaling option? How can I preserve the image scale white rotation?

[2018-09-21 18:17] hardiktechnoplanet opened #139 "check which operation is performed on an image?"
Hi @mdbloice
Is there a way to check which operation is performed on a particular image in the output directory (ex: if the code is performing 2 operations i.e. rotate and skew, how can I log the data in a file to check which image is rotated, which one is skewed, which one underwent both the operations?

[2018-09-24 13:02] mdbloice commented on #55
hi @hardiktechnoplanet, no unfortunately not, I cannot really promise anything as adding the last couple of features really took me far longer than I anticipated so promising things by a certain time just doesn't make any sense...

However, I will definitely *try* to get the feature added sometime soon, but I just cannot give a better estimate as to when that might be...

[2018-09-24 13:06] mdbloice commented on #139
Hi @hardiktechnoplanet, that is a nice idea. Right now there is no way to do this, however it would be quite easy to add such a feature. Like I said in #55 I cannot really say when I could get around to doing it, however I will add it to my todo list as a feature I will work on.

[2018-09-25 14:27] hardiktechnoplanet commented on #139
@mdbloice thank you for the information. It would be of great help if the feature is included in the code.

[2018-09-25 14:28] hardiktechnoplanet commented on #55
@mdbloice thank you for the information.

[2018-09-28 09:41] wxh001qq opened #140 "how can i transform an image with numpy format?"
the Pipeline only support to input an image folder?

[2018-09-28 09:45] #140 closed

[2018-09-30 13:07] zmghub opened #141 "about label 255"
when my label contain this value 255,for example,my label is x,and np.unique(x) is [0,1,255],this result outputed by the augmentor may have some other value such as [0,1,2,3,4,5,……],and i have test rotate,skew,shear,zoom,distortion,all i get are same.
in addition to this,i find out it is random,when the code is same,the two result i get from two execution is different, in other word,i get three ba

[2018-10-01 07:28] mdbloice commented on #141
Hi @zmghub, yeah your labels will need to be a list starting at 0 and increasing in increments of 1.

[2018-10-01 07:28] #141 closed

[2018-10-02 14:48] alshedivat commented on #47
Tensorflow has the standard [data processing API](https://www.tensorflow.org/api_docs/python/tf/data/Dataset). I'm interested to interface Augmentor with the API.

As I can see, Augmentor is implemented entirely in Python. It should be possible to use [tf.py_func](https://www.tensorflow.org/api_docs/python/tf/py_func) to wrap Augmentor's functionality and provide data mappers that can be used with

[2018-10-02 15:02] johndpope commented on #47
I came across this repo the other week - https://github.com/tueimage/SE2CNN
it will build a roto-translation covariant convolutional network with tensorflow.
https://arxiv.org/pdf/1804.03393

[2018-10-07 04:50] KokeCacao opened #142 "Grayscale image loading error can be fixed"
Here is the code that WORK:
[code]
However, here is the code that doesn't work if you remove the line:
[code]
Here is the error message
[code]

It is really clear that the method `random_brightness` does not support grayscale image in RGB form. Correct me if I am wrong. Thanks! O(∩_∩)O
But anyway, the program should be more user-firendly.

[2018-10-08 05:19] Vovochka777 commented on #113
It will be great

[2018-10-08 10:48] mdbloice commented on #113
Hi @Issam28, @xuzhang5788, @Vovochka777 - yes, indeed this has just been implemented since the latest version (v0.2.3), using a new `DataPipeline` class. Its intended use is to allow for images to be augmented with several mask images, however there is no reason why you couldn't use it to augment 3D data, or images with arbitrarily long numbers of channels.

See [Multiple-Mask-Augmentation.ipynb](

[2018-10-08 15:08] MartyEz commented on #101
i'am looking for the same option, especially for darknet yolo box.
I found this repo : https://github.com/lozuwa/impy but i have trouble to use it

[2018-10-11 10:04] ram1897 opened #143 "Object Detection Problem Statements"
Does it work for Object detection problems where the Annotated ground truth Tag file (.xml) also gets changed

[2018-10-11 10:19] mdbloice commented on #143
Hi @ram1897, no this is not supported.
M.

[2018-10-11 10:19] #143 closed

[2018-10-21 05:28] wellescastro commented on #116
+1

[2018-10-22 07:12] mdbloice commented on #47
Hi @alshedivat, sorry for the delay in replying, work duties have kept me from doing any work on Augmentor for the past few weeks. Actually, what I am working on next is proper support for TensorFlow. Right now, using Augmentor with Keras should work, and PyTorch should also work. Next step is to get Augmentor working with TF properly without workarounds. Expect it in the next release (although I

[2018-10-22 07:14] mdbloice commented on #142
Hi @KokeCacao, ok thanks for making the issue and finding this bug. I will take a look at that as soon as I can.

[2018-10-22 19:34] alshedivat commented on #47
@mdbloice, cool, thanks for your reply! Do you have a roadmap for TF support? I'm pretty familiar with TF and it's Dataset API, so happy to contribute if that accelerates development.

Also, it looks like Augmentor doesn't use opencv, does it? [Another image augmentation library](https://github.com/albu/albumentations) shows that using highly optimized opencv gives best throughput.

[2018-10-23 07:04] mdbloice commented on #47
HI @alshedivat, no I do not really have a roadmap right now for TF support, I am only able to work on Augmentor when time allows. And it's not really predictable when that might be, so I cannot say for sure when I might be able to work on new features or bugs unfortunately!

As for OpenCV, no I do not use it because it is a rather large dependency that I wanted to avoid. The library you linked to

[2018-10-24 08:30] ChristianEschen commented on #114
I have the same problem. Using random_contrast destroys the categorical ground truth image

[2018-10-24 09:06] kkirtac commented on #132
Hi, is it supported now in 0.2.3 version?

[2018-11-13 08:45] mdbloice commented on #132
Hi @kkirtac, @FiReTiTi yes generators now support masks since 0.2.3, see the ![Multiple-Mask-Augmentation.ipynb](https://github.com/mdbloice/Augmentor/blob/master/notebooks/Multiple-Mask-Augmentation.ipynb) demonstration notebook for details.

[2018-11-13 08:45] #132 closed

[2018-11-14 23:50] LeeJZh opened #144 "how to customize the name of generated images?"

[2018-11-17 12:43] ddrevicky commented on #116
+1

[2018-11-19 16:27] pkb14197 opened #145 "how to add noise"
Hi,

can you please let me know how to add noise in images? I find you have a file named "test_Gaussion.py", is it related to a noise method?

[2018-11-20 14:33] mdbloice commented on #145
Hi @pkb14197, no you want to use the `random_erasing()` method with a Pipeline object.

You can find the  `random_erasing()` function's documentation [here](https://augmentor.readthedocs.io/en/master/code.html#Augmentor.Pipeline.Pipeline.random_erasing).

A working example might look something like:

[code]

[2018-11-20 14:33] #145 closed

[2018-11-20 14:35] mdbloice commented on #144
Hi @LeeJZh right now, they are randomly generated. How would you want to customise them? I am open to any suggestions that you might have.

[2018-11-21 03:08] uilliu commented on #34
This tool is fantastic. I especially like the piping design and randomization of this system. After reading the document, however, I find that I also need to operate the key-points of annotation.
I am very much looking forward to adding this feature to Augmentor in the near future, which will be a very important step in data generation.

[2018-11-21 19:57] vinitmuchhala commented on #136
@bluesky314 I faced the same issue.
For me, my source_directory had another directory inside, once I removed the directory from inside the source_directory, the Augmentor started working again
Hope this helps you.

[2018-11-22 08:45] bluesky314 commented on #136
Will check. Thanks!

On Thu, Nov 22, 2018 at 1:53 PM Marcus D. Bloice <notifications@github.com>
wrote:

[2018-11-22 09:56] mdbloice commented on #144
Ok @LeeJZh, that would be a solution but I think if you had a pipeline with a lot of operations, the filenames would get very long. There are filename and file path length limits in Windows and Linux that might be an issue.
Another option would be to create a logfile of all output, with filenames along with their operations. I think a logfile option was requested as a feature a while back, I will

[2018-11-22 11:20] LeeJZh commented on #144
Yes! Thanks!

[2018-11-26 13:09] boukicher commented on #75
Hey did you resolve the issue ?

[2018-11-26 16:11] Nestak2 opened #146 "Create images with random size?"
Hi @mdbloice,
thanks for the Augmentor code! I am creating a pipeline, that has to create eventually images with randomized size, for example:
I have a single ground truth image of size 100pixel x 100pixel and after running the pipeline I would like to have images scaled with a RANDOM SCALE in the interval [1,2], so that output images have sizes 173x173, 189x189, 114x114, 133x133 etc. The closest

[2018-11-28 19:36] masyagin1998 opened #147 "Maybe mistake in documentation and little problem in DataPipeline"
While I was using Your library (it is great lib!), I found two strange things.
Sorry for my English.

1) In your documentation You write
[code]

Maybe in `perform_operation` should be `images` not `image`, cause it expects list of PIL images and I understood it only after my script failed.

2) Your 'DataPipeline.sample` method returns random for outputing images and if I put for example 5 images a

[2018-11-30 08:16] mdbloice commented on #147
Hi  @masyagin1998, glad you like the library :-)
Yes that's of course right, it accepts a list of images, this is an artifact from a previous version of Augmentor where all the operations accepted only one image at a time, I haven't managed to catch all the documentation when I made the change it seems. Thanks for pointing it out, I'll fix it.
As for point two, yeah in the normal `Pipeline` class

[2018-12-02 04:58] bangluqman opened #148 "How to restore image that hass been cropping to original size?"
I has been crop my training image dataset and testing image to patch with size 48x48, and feed to my neural network.
So I need to restore/reshape the output from network to original  size.
Is there a way to do this?

[2018-12-03 10:49] mdbloice commented on #148
Hi @bangluqman, I am not quite sure if I follow what you mean... You can add a final resize operation to the end of the pipeline (by setting `probability=1.0`) that would resize every image back to 560x560 but this would mean of course your 48x48 patches would be up-scaled quite dramatically, which would affect the quality of your final images.

[2018-12-03 13:34] mdbloice commented on #146
Hi @Nestak2, thanks for making the issue and sorry for the delay in replying, I have not had much time for Augmentor recently.

Yeah, that would be a good feature to have. Right now I cannot think of a way you might be able to do what you are asking with the current operations as they exist now...

However, I can add this functionality in the next version, I think it would be useful. Until then th

[2018-12-04 01:54] Nestak2 commented on #146
Thanks for replying! I actually managed to make my own pipeline out of opencv functions. Though it might be useful for others in the future to have the functionality in Augmentor.

[2018-12-04 08:15] mdbloice commented on #146
Yeah OK good that you sorted it, thanks for opening the issue I will add it as a feature when I get the chance.

[2018-12-06 05:57] bangluqman commented on #148
Thank you for your reply, an I am sorry while my question not detail.
I can explain  my method in general like this :

I have image the input image (1x560x560) and I split into patches (3000x48x48)  using Augmentor.
And then I applied some image processing technique to the patch.
After that, how to reconstruction output image (3000x48x48) back to (1x560x560)?

[2018-12-11 07:11] devforfu commented on #34
Yeah, the tool looks good and I really like the interface. Would be great to have 2d points and bounding boxes augmentation support like you can find in [imgaug](https://github.com/aleju/imgaug) or [fastai](https://docs.fast.ai/vision.transform.html) libraries. The later one operates with 2d tensors directly.

[2018-12-11 13:31] mdbloice commented on #34
Hi @devforfu, right now I have no plans to add bounding boxes or the like to Augmentor. It may happen in future, but it's not really a priority at the moment. 2D points and bounding boxes would be nice features to have, so I may try to implement them at some point however!

[2018-12-12 07:35] AKJDM opened #149 "Cannot write mode"
Hello, I am trying to augment a small amount of images however i keep getting these errors.

any ideas?

see the below for errors

Processing <PIL.Image.Image image mode=RGB size=720x1280 at 0x11410B0F0>:   0%|          | 4/1000 [00:05<22:02,  1.33s/ Samples]
Traceback (most recent call last):
  File "/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/PIL/JpegImagePlugin

[2018-12-12 09:22] tianyizheming commented on #136
Hello, my source directory only contains "PNG" images, but the error also occurred. I don't know how to solve it. The output directory can be generated  in my source directory.

[2018-12-14 23:19] leiverandres commented on #114
I trying to use augmentation for semantic segmentation, so I need that ground truth doesn't change with random_brightness or random_color. Any update on this?

[2018-12-15 04:27] hsuRush opened #150 "'Custom' object has no attribute 'function_name'"
https://github.com/mdbloice/Augmentor/blob/5a8f6d6080ecbaa20af1a7bf2824f7fdbfd0ab94/Augmentor/Operations.py#L1971

should be
[code]
Am I wrong?

[2018-12-17 07:20] JoyLuo opened #151 "distortion get black"
when i use distortion function with the ground_truth, the original image augmented is normal， But the groundtruth with black  edge

[2018-12-17 09:01] mdbloice commented on #151
Hi @JoyLuo, could you show me an example image? Or post the code here that you used? I will try to work out what is happening.

[2018-12-17 09:14] mdbloice commented on #150
Hi @hsuRush, yes you are absolutely right. Thanks for spotting this, I will fix it right now or you could make a quick PR and I can merge it in if you want?

[2018-12-17 09:23] mdbloice commented on #149
Hi @AKJDM, are you perhaps working with PNGs that have an alpha channel? You could try setting the save file format to PNG so that they are not converted to JPEG on save.

[2018-12-17 12:05] JoyLuo commented on #151
@mdbloice thanks
image_dir ="path to image"
lable_dir = "path to label"
p = Augmentor.Pipeline(image_dir)
p.ground_truth(label_dir)
p.gaussian_distortion(probability=0.9, grid_width=10, grid_height=10, magnitude=3, corner="bell", method="in")
p.sample(10)

[2018-12-17 14:12] mdbloice commented on #151
@JoyLuo OK sure no problem, good that you found a workaround, I will look into it a more carefully and try to see if I can resolve the issue anyway.
M.

[2018-12-17 18:03] virtari opened #152 "Augmenting single image in memory"
Thanks for the great project. I would like to know that is it possible to add random distortion (or other of these augments) to an image in a memory? I am augmenting my images as part of a more special pipeline, where most of the augments are mimicking real life defects. I would like to apply this nice looking distortion as one simple step, in between doing other augments to it.

thanks :)

[2018-12-20 13:11] mdbloice commented on #152
Hi @virtari well yeah you could use a generator, so for example just make a pipeline with one operation (distortion) and use a generator to supply images as needed.

You can use `keras_generator` function for this:

[code]
This should do what you need?

[2018-12-20 13:22] virtari commented on #152
Thanks for your reply. I'm afraid that solution don't work in my case. I need to apply these augmentations before the generator part (which is also used for more generic transformations when feeding the model).  I would like to create a function that applies the elastic distortion to an input image, and return a distorted image.

[2018-12-20 14:00] virtari commented on #152
That sounds it would work. I will try asap. Thanks :)

[2018-12-20 14:07] mdbloice commented on #152
No problem at all :-)

Just a quick hint, if you take a look at the source code of any of the operation classes (for example the Distort class: <https://github.com/mdbloice/Augmentor/blob/master/Augmentor/Operations.py#L1354-L1495>) you'll see that the `perform_operation` function actually takes a list of images as a parameter. This is for handling images with masks. I suspect in your case you jus

[2018-12-20 14:12] virtari commented on #152
Thanks for the tip. I'm fairly beginner with all this, so this is useful for sure.

[2018-12-20 15:08] virtari commented on #152
@mdbloice still one noob question: What is this image format i need to pass into it? Not working with numpy array opened with opencv, or jpg from PIL.

[2018-12-20 15:20] virtari commented on #152
Oh. I see it might be related to that list instead of an image

[2018-12-21 08:13] mdbloice commented on #152
Hi sorry for the late reply, all the operations work with PIL images, but as I mentioned they need to be in a list, even if there is only one image passed!

M.

[2018-12-24 14:04] cahya-wirawan commented on #146
Hi, I would like also to have functionality to set lower and upper bound like in torchvision as torchvision.transforms.RandomResizedCrop(size, scale=(0.08, 1.0), ratio=(0.75, 1.3333333333333333), interpolation=2). Thanks for the great library anyway.

[2018-12-31 08:24] marcodelmoral opened #153 "How to use PIL's ImageEnhancer as a custom Operation?"
I'm trying to use PIL's ImageEnhancer to modify my images sharpness randomly, this is the custom class I'm using.

[code]
However, it keeps throwing this error, more strangely, is writing some image data into the output folder. Any ideas?
[code]

[2019-01-01 18:07] Rahul-Venugopal opened #154 "Modify bounding box according to augmentation"
Hi ,

Is it possible to modify the bounding box available in the image accordingly with the help of this package ?

Thanks
Rahul

[2019-01-04 21:17] farazkhan86 commented on #109
This bug still exists.

``p.torch_transform()`` expects an image array but gets a list.

I dont really understand how the workaround works, Im using the pytorch implementation as mentioned in the docs:

[code]

In ``Operations.py`` this line expects the size of an image:

`w, h = images[0].size
`
but since ``image[0]`` is a list it returns the number of elements in the array =/

[2019-01-07 10:28] tchaton opened #155 "Random Image Loading"
Hello there,

The batch should be loaded in permutation mode and not randomly. Or at least, it should be an option with default permutation.
            for i in range(batch_size):

                # Pre-allocate
                # batch[i:i+28]

                # Select random image, get image array and label
                random_image_index = random.randint(0, len(self.augmentor_images)-1)

[2019-01-09 12:21] mlterpstra-umc opened #156 "Calling status on a pipeline without labels results in error"
Hi, I try to use this library for transforming my first set of images with a known ground truth. These have no labels, I just want transformed images for use with my network. Therefore, I try to follow the DataPipeline example as follows:
[code]
This should not happen because my data has no labels. I suppose a check should be in place to make sure labels are present.

Thanks

[2019-01-10 18:03] Kelkka7 opened #157 "Maths behind the operations"
First off, Augmentor is a very nice package - especially like the easy to read code, clear explanations and the sheer number of operations.

Still, it would be nice to see the maths behind your operations, or at least a link to a paper that outlines them. I'm particularly interested in rotate_random_90, random_distortion, shear, and resize operations, but I'm likely to experiment with other operat

[2019-01-12 04:34] Samyssmile commented on #109
Hi did you solved this ?

[2019-01-12 12:56] farazkhan86 commented on #109
I just stopped using ``p.torch_transform()`` and went the normal route of saving the generated images to a directory and then loading them in my Dataset class

[2019-01-14 08:35] mdbloice commented on #157
Hi @Kelkka7, glad you like Augmentor. Well, a lot of stuff is just from Wikipedia's articles on affine transformations, e.g. [https://en.wikipedia.org/wiki/Affine_transformation](https://en.wikipedia.org/wiki/Affine_transformation)

The article above has a few very useful overview graphics, such as: [2D_affine_transformation_matrix.svg](https://en.wikipedia.org/wiki/Affine_transformation#/media/Fi

[2019-01-14 09:50] mlterpstra-umc opened #158 "Multiple mask augmentation: semi non-identical augmentations?"
So I'm trying to use the Augmentor Datapipeline for my dataset. My dataset consists of two images and a corresponding vector field. Now I can do the same augmentation for all three samples at the same time and that's working great. But for the vector field some extra work needs to be done.

For example, suppose I do a random vertical flip. For the images this is no problem, but for the vector fiel

[2019-01-14 11:51] MNegassi opened #159 "HSVShfiting"
Hi @mdbloice,
HSVShifting implementation throws this error: ` ValueError: conversion from L to HSV not supported`.
It happens in this line  https://github.com/mdbloice/Augmentor/blob/bbdf0113f76da93ea000e989b0ecfd6ad5d25b0a/Augmentor/Operations.py#L1836
where it tries to convert greyscale images (ground truth) to HSV.
This seems to be inherited from PIL. Do you think it is good to bypass conversio

[2019-01-15 22:17] paulfauthmayer opened #160 "Create n augmented images for each image"
With a given dataset, I would like to produce n augmented images for each image in the specified folder and save them in the output folder.

If I do something like this:
[code]
It picks 300 [random](https://github.com/mdbloice/Augmentor/blob/8e65e1813c6e2958ac41679df12e1fe772c830b3/Augmentor/Pipeline.py#L358) images from the dataset and creates the augmented images. However, this results in a disp

[2019-01-16 08:44] mdbloice commented on #160
Hi @paulfauthmayer yeah, that's a nice idea, I hadn't thought of that. I will add that to the `process( )` function in the next update. Right now though I think what you're doing is as good a workaround as could be done, even if it is not very pretty as you say :-)

[2019-01-16 11:50] Kelkka7 commented on #157
@mdbloice Thanks for the links! That should clear things up.

[2019-01-16 11:50] #157 closed

[2019-01-23 02:30] mifenfeifen opened #161 "add_further_directory means to change the source_directory ?"
I thought that `add_further_directory` can help me with processing multi directory, so I wrote these code：
[code]
but I found that only the last folder got outputs.

so I browsed the source code:
`add_further_directory` use `_populate`, and in `_populate`,  there is
[code]
this command will replace the original images with new images in source_directory

Is that your purpose?

[2019-01-23 07:43] Charles-Lu opened #162 "which is faster? [sample(10) for 10 times] or [sample(100)]?"
Hi @mdbloice ,

I'm somewhat curious about the relation between speed and sample size. Let's say we need to generate 100 images, will sample(10) for 10 times or sample(100) be faster?
If the latter is faster, I assume the best strategy is to set the sample size as large as the memory can handle?

Thank you very much!

[2019-01-23 07:51] Charles-Lu commented on #156
I reproduce the same bug. For now you can comment out ```p.status()``` to avoid the error. The remaining of the pipeline works perfectly.
P.S. also remember to use
[code]
rather than
[code]
in following steps.

[2019-01-24 11:04] SchotmanG commented on #114
Similar issues here:
I am working on a segmentation problem so the ground truth images are masks containing specific RGB values which represent the different classes. Functions like rotate, skew and shear all change the pixel values of the ground truth images.

These two options would be great to have in the future:
- An options for using Nearest Neighbor algorithm during operations on ground trut

[2019-01-25 13:16] mdbloice commented on #114
Hi all, right now job responsibilities are keeping me from actually doing anything on Augmentor I'm afraid :-)
Apologies also for not replying to this issue for so long. However, next week I have time and I will be making a few updates, and I will try to get as many issues fixed as I can for the next release.

Anyway, the thing is, I am not sure exactly what you mean by this issue... @SchotmanG ho

[2019-01-25 13:18] mdbloice commented on #161
Hi @mifenfeifen no that is not my purpose, thanks for pointing this out. I will fix that for the next version (which I will be updating soon, most likely next week if all goes well).
Thanks again for opening this issue.

[2019-01-25 13:22] mdbloice commented on #162
Hi @Charles-Lu - I actually I am not sure what would be faster, however, I think it would be `sample(100)` as there is some overhead when using Python's multithreading stuff. Therefore calling `sample()` once rather than 10 times would probably be faster.
Memory shouldn't be an issue when calling `sample()` with large numbers however, unless you are using Augmentor's generators I suppose.
M.

[2019-02-03 16:46] rojinsafavi commented on #71
Hello,
I am also working on a two-class classification problem, and in the output folder, the folder zero and one are both empty

[2019-02-15 02:14] tigerdhl opened #163 "ValueError: setting an array element with a sequence."
i got this error,someone knows?

[2019-02-15 14:07] bjtho08 commented on #78
I have a similar issue, where I have normalized my 3-channel false-color images to floating point with zero mean and standard deviation of 1. However, PIL is really creating tension for me here, since I cannot both use RGB and floating point values. Is the need for PIL deep-seeded in Augmentor or would it be possible to rewrite it without PIL?

[2019-02-16 05:52] tigerdhl opened #164 "expected conv2d_23 to have 4 dimensions, but got array with shape (64, 1)"
I use the library to a segmentation project
    p = augm.Pipeline(img_path)
    p.ground_truth(mask_path)
    p.rotate(probability=1, max_left_rotation=5, max_right_rotation=5)
    p.flip_left_right(probability=0.7)
    p.zoom_random(probability=0.7, percentage_area=0.8)
    p.flip_top_bottom(probability=0.7)
    g = p.keras_generator(batch_size=64)
    image,label = next(g)
    print("the image s

[2019-02-16 06:03] tigerdhl commented on #119
i get the same problem when use keras,now have the way to solve it ?

[2019-02-28 15:27] ajuric opened #165 "Default padding value"
Is it possible to specify the default value for padding when using the rotation or other transformations which include padding?

This would be a great feature.

Also, it would be great if we could specify distinct default padding values when augmenting semantic segmentation data: one padding for images, one for ground truths.

[2019-03-06 03:10] xiaoyuan129 commented on #101
@Bala93 Have you pushed your code? Where can I find it? Thanks.

[2019-03-07 09:02] mdbloice commented on #163
Hi @tigerdhl, not entirely sure what you mean. Can you give a minimal working example? Some piece of code where the error is occurring?

[2019-03-07 09:13] mdbloice commented on #165
Hi @ajuric, thanks for opening the issue - no currently you cannot do either of those features, however I like the idea especially regarding the semantic segmentation. I will definitely add them as features when I get the chance.

[2019-03-07 09:15] mdbloice commented on #164
Hi @tigerdhl, yeah this could be a configuration problem with your network that you have set up. Hard to know from this code snippet. Does the network work if you just add your regular images and do not use a generator?

[2019-03-07 09:34] mdbloice commented on #153
Hi @marcojulioarg, yeah you need to pass and return a list now and not a PIL image. The documentation may be slightly out of date regarding this actually.

The change was made a couple of versions ago so that images + their masks can be passed to operations. Therefore, even if you pass one image to an operation in needs to be in a list with one PIL Image in it, and the operation needs to return a

[2019-03-07 10:35] mdbloice commented on #158
Hi @mlterpstra-umc, thanks for opening the issue and sorry for the delay, work responsibilities have kept me away from this project for several weeks now.

So, just to clarify what you meant - you are passing a number of images, but you are also passing a vector field that you are basically treating as an image?

Unfortunately Augmentor doesn't support vector fields, so you will get inconsistent r

[2019-03-07 10:35] #158 closed

[2019-03-07 10:44] mdbloice commented on #156
Hi @mlterpstra-umc, @Charles-Lu this is definitely a bug with the `status()` function, thanks to both of you for rooting it out, I will fix ASAP.

[2019-03-07 11:28] #156 closed

[2019-03-07 11:35] mdbloice commented on #156
Ok so I have made a quick bug fix, this fix won't appear in the pip installed version of Augmentor until I make a version update which will happen a little later.

[2019-03-07 12:27] mlterpstra-umc commented on #158
Hi @mdbloice

No worries, thanks for the reply. And of course thank you for this project, it's been a breeze to work with 😊.

So yeah, indeed I'm passing in different images that mean different things, e.g. images or vector fields.

I also found out that Augmentor doesn't support vector fields but I made some modifications in my own fork so that I can work with it.

Basically I wrap my data in ima

[2019-03-07 15:08] #127 closed

[2019-03-08 09:55] oohurbert opened #166 "How to simulate image created by camera?"
I've found noise/blur......filters can't simulate the effect image taken by photo, because of the reflect of the camera lighting.
We can easily find many white dots around the character's edge. How can we simulate this effect?

[2019-03-08 11:15] mdbloice commented on #158
@mlterpstra-umc OK that sounds pretty interesting what you've done, I will take a look at the code and maybe we can think about merging it in. I wonder would there be much interest in such a feature, or is what you are doing very niche do you think?
M.

[2019-03-08 11:19] mdbloice commented on #166
Hi @oohurbert I think that kind of noise you show in your example image are just compression artefacts, are they not? If you saved an image as JPEG with high compression you might get images like the one above perhaps?

[2019-03-08 12:19] mlterpstra-umc commented on #158
Hey, thanks for your interest!

I think the way I used it here is pretty niche, but I'm currently also using it for image-to-image tasks rather than image classification and I think it can also be useful for that case.

For example, suppose you want to do image restoration. You'll still want to do flips and zooms to both input and target image, but apply your noise or corruption only to the input.

[2019-03-09 03:46] oohurbert commented on #166
@mdbloice, Thanks for your reply. No, that effect showed above is because of the camera lighting.  If the image is scanned, there no white dots around the black edge.  Anyway, we are talking about how to simulate the effect by some image processing method.

[2019-03-17 13:53] jahongir7174 opened #167 "PGM images"
Augmentor.Pipeline() can not detect pgm images.
But PIL.Image is able to read the images.

[2019-03-18 08:14] mdbloice commented on #167
Hi @jahongir7174, thanks I was totally unaware of that format, if PIL can read it then it is an easy fix in the code for Augmentor to support it. I'll make that change for the next version.
M.

[2019-03-18 08:14] #167 closed

[2019-03-21 06:42] bedapudi6788 opened #168 "Progressbar for pipeline and using image.convert() for forcing RGB/L/.."
Hi @mdbloice thanks for this awesome repo. I have two simple feature suggestions (I am happy to add a pull request for these if you want these implemented).
1. Since pipeline creation takes a significant amount of type if we have lot of images in the folder I think it would be good to have a progressbar to show the status.
2. Sometimes, when dealing with large datasets, images of different types c

[2019-03-22 12:00] mdbloice commented on #168
Hi @bedapudi6788, glad you like the library - yeah, if you use Augmentor in a console it does indeed show a progress bar, using [tqdm](https://github.com/tqdm/tqdm) and actually it should show in a Python notebook as well, as long as you are using the `sample()` function anyway.
As for your second point, yes sometimes some formats cause errors - are there any specific examples of these errors you

[2019-03-22 12:17] bedapudi6788 commented on #168
@mdbloice The progressbar issue I mentioned is while using keras_generator.
Augmentor.Pipeline(folder) this takes a considerable time (hours) when dealing with lot of images (I am currently using with 5 lakh images) and I am not seeing a progressbar for this. https://github.com/mdbloice/Augmentor/blob/e6ef7bc73d5790c864d3977f7cc4e2e9905c03f5/Augmentor/Pipeline.py#L184 This is the loop, where I am

[2019-03-25 10:23] mdbloice commented on #168
@bedapudi6788 ah yes, ok for generators there is no progress bar mainly because the generator itself does not control or know the number of samples that need to be generated, unlike `sample()` where I can specify the number of images to be created and therefore can control the "length" of the status bar.

Ok as for the second point, if you want to think of a solution and propose it via a PR I woul

[2019-03-25 11:03] fmbahrt opened #169 "Transforming labels accordingly"
Let's say my labels are landmarks on an image, am I able to transform them aswell - such that they fit on the transformed image?

[2019-03-25 14:36] mdbloice commented on #169
Hi @fmbahrt no currently this is not supported. I am assuming the landmark labels are `x`,`y` coordinates on the image?

[2019-03-25 17:49] fmbahrt commented on #169
@mdbloice yes, the landmarks are (x, y) coordinates.

[2019-03-25 18:07] mdbloice commented on #169
@fmbahrt OK understood, no unfortunately that is not currently supported...
M.

[2019-03-28 00:20] ak9250 opened #170 "p.resize jpg save"
output files are not saved as jpg, I tested with one jpg and one png, they are the same in the outputs folder

[2019-03-29 00:26] ak9250 opened #171 "ValueError: image has wrong mode"
I am getting this error
ValueError: image has wrong mode

[2019-04-02 09:06] WestonLu commented on #163
same error here

~/work/.localenv/lib/python3.5/site-packages/Augmentor/Pipeline.py in keras_generator(self, batch_size, scaled, image_data_format)
    538
    539             if scaled:
--> 540                 X = X.astype('float32')
    541                 X /= 255.  # PR #126
    542

ValueError: setting an array element with a sequence.

[2019-04-06 22:01] youngminpark2559 opened #172 "Is there a way or option which I can use not to perform shuffling when I use `aug_pipeline.sample(int(num_of_sample))`?"
HI. It looks like `aug_pipeline.sample(int(num_of_sample))` outputs images and their masks (or labels) in shuffled order by default.

But I hope to have them from the output of aug_pipeline.sample(int(num_of_sample)) in the status of order which are set before going to Augmentor pipeline.

[2019-04-09 03:39] ayumiymk commented on #115
Hi, could you please share the code to solve this question? Thank you!

[2019-04-10 07:53] #168 closed

[2019-04-10 12:04] mdbloice commented on #170
Hi @ak925, thanks for making the issue - could you post some code that reproduces that? I think it really should save in the format that you pass, so I'd be curious how this happened to you. Thanks.

[2019-04-10 12:06] mdbloice commented on #172
Hi @youngminpark2559 no currently not, however this has been requested before so I will look into implementing this in an upcoming version.

[2019-04-10 12:08] mdbloice commented on #166
@oohurbert some kind of random noising operation might be useful. I will mark this issue as an enhancement and perhaps include in an upcoming release.

By the way, it is quite easy to add custom operations to a pipeline in Augmentor. Check the docs for more details: [https://augmentor.readthedocs.io/en/master/userguide/extend.html](https://augmentor.readthedocs.io/en/master/userguide/extend.html)

[2019-04-10 17:00] ak9250 commented on #170
@mdbloice Hi, want i mean to say is wouldnt it be better to save all resized images as jpegs to save space and will have consistency in the dataset. I thought p.resize does this by default, maybe a flag to use one format for all resized images?

[2019-04-11 05:00] youngminpark2559 commented on #172
@mdbloice Thanks for considering that functionality. Hope to see it in Augmentor.

[2019-04-11 05:00] #172 closed

[2019-04-11 05:32] mdbloice commented on #170
@ak9250, you can set the save format when initialising a pipeline object:
[code]
See the docs at [https://augmentor.readthedocs.io/en/master/code.html#Augmentor.Pipeline.Pipeline](https://augmentor.readthedocs.io/en/master/code.html#Augmentor.Pipeline.Pipeline)

[2019-04-11 05:33] mdbloice commented on #172
@youngminpark2559 sure thing! I will try to get it in to the next version.

[2019-04-11 16:31] jay-reynolds commented on #169
I also have a problem that requires the transformation (generally, operations) applied to the augmented result and am interested in helping out here.

[2019-04-17 13:30] mdbloice commented on #169
Hi @jay-reynolds, sorry for the delay replying, yes sure, by all means make a pull request. It's a feature quite a few people have asked for so it would be worthwhile doing I am sure.

[2019-04-18 18:59] ak9250 commented on #170
thanks!

[2019-04-18 18:59] #170 closed

[2019-04-28 07:42] duanzhiihao opened #173 "random_distortion() not support mask"
Hi, I now have an image(np.array) and a mask(np.array), and I want to perform random distortion on them. I have tried this:
[code]
It seems that the distorted mask `aug_im[1]` is not consistent with the distorted image `aug_im [0]`. I can post image if it helps.
So does random_distortion() can't deal with image and its mask at the same time?

[2019-05-01 15:43] skhan0091 opened #174 "Issue:"There are no images in the pipeline""
Following is the code I am using to create my pipeline for image augmentation. There is only 1 image in the directory I specify in 'new_source_directory'. I am using this in google colab. The 'new_output_directory' argument creates the directory in my google drive so I know that it's not a permissions issue in google colab. I am using Python 3 notebook in google colab. Any help you provide is appr

[2019-05-02 13:03] XushengLee opened #175 "negative pixel values appear in image of mode I after using Augmentor"
I use the Augmentor to rotate an image of mode I (32-bit), the image itself ranges from 0 to 1000 and is grayscale, so I save it as tiff, after using, the output have some negative values.
BTW, augmentor won't even take images of mode I;16 (16-bit).

[2019-05-02 17:25] nseidl opened #176 "Enable Quiet Processing"
Hi,

I'm using Augmentor in an automated process for 1000s of images. Would it be possible to add a new kwarg to [process()](https://augmentor.readthedocs.io/en/master/code.html#Augmentor.Pipeline.Pipeline.process) so that it does not print anything while processing?

Currently, in my logs, it looks like this, for 1000s of images, which clogs up the logs:
![Screen Shot 2019-05-02 at 10 24 51 AM](h

[2019-05-03 07:49] mdbloice commented on #176
Hi @nseidl, thanks for making the issue. Yes I can do that, it is a good idea so I think I will just add it as a global option actually for those who are using Augmentor in situations where no progress updates are required.

[2019-05-03 13:36] ogreyesp opened #177 "Implementing PCA or ZCA"
Are there implementations of PCA or ZCA color augmentation techniques in Augmentator?

[2019-05-10 08:46] AdityaSoni19031997 opened #178 "Why is the output directory always relative to input?"
https://github.com/mdbloice/Augmentor/blob/master/Augmentor/Pipeline.py#L143

This isn't exactly what everyone wants, what if you don't have permissions to write to the input directory??

A simple solution would be to just add a flag to ask the user if wants it relative to the i/p or not?

[2019-05-16 11:49] Marwen-Bhj commented on #83
Hi @mdbloice is there a way to have ground_truth() working even if the file names do not match ? in my case the ground truth file names are followed by "_mask"

[2019-05-17 07:08] mdbloice commented on #83
Hi  @Marwen-Bhj, no not at the moment, however you can use `DataPipeline` for such situations:

[code]

Where `images` contains any number of images/masks in array format (rather than reading from the disk). See this notebook for details on how to prepare the `images` data structure here:

[Multiple-Mask-Augmentation.ipynb](https://github.com/mdbloice/Augmentor/blob/master/notebooks/Multiple-Mask-

[2019-05-17 09:09] Marwen-Bhj commented on #83
Hi @mdbloice  thank you , it did help doing the task needed , yet as I saw in documentation ,this doesn't save the files anywhere , I tried using :
`sample_with_array(augmented_images[i][j], save_to_disk=True)` in a `for` loop

where `augmented_images.shape` outputs (3, 2, 384, 768, 3)  (3x2 samples , 348x768 and 3 channels )  if we transform it to an array using `numpy` .

I need those generated

[2019-05-17 10:11] mdbloice commented on #83
Hi @Marwen-Bhj, you could try using PIL/Pillow to create images from array data, so something like

[code]

and do that in a loop, where `augmented_images[...]` will have to be sliced accordingly to get the images you want out....

[2019-05-17 10:13] Marwen-Bhj commented on #83
@mdbloice  yes that's what I did eventually , just had to do some workaround with naming . thank you again.

[2019-05-17 10:20] mdbloice commented on #83
@Marwen-Bhj ok sure, glad you got it to work out :-)

M.

[2019-05-20 16:47] rstml commented on #163
Same here. I can see there's TODO to fix that, any ETA?
https://github.com/mdbloice/Augmentor/blob/master/Augmentor/Pipeline.py#L460

[2019-05-20 17:09] rstml opened #179 "Support custom resampling"
Currently `resample=Image.BICUBIC` seems to be hardcoded for most operations.

Would be great to support custom resampling strategies. Keras allows this through `interpolation` argument.

[2019-05-20 17:29] rstml opened #180 "Support all PIL resampling filters for resize operation"
Trying to set resize resampling filter to `LANCZOS` throws an error:
[code]

Latest PIL supports much more than just those listed above. Would be great to support all of those:
https://pillow.readthedocs.io/en/stable/handbook/concepts.html?highlight=lanczos#filters

[2019-05-23 12:25] minshi-cognite opened #182 "Add an optional parameter of crop after shearing"
I do not want to crop the image after shearing. That means keep the black area. Could you add an optional parameter for that in your later version?

[2019-06-02 19:33] jeffleft commented on #174
You might have run into the same bug as #91, where you have an empty folder (or folder with no images) in your source directory. Haven't looked into what's causing the bug, but for now I just sidestepped it by moving my source images into a new directory with no other folders and running there.

[2019-06-16 19:12] cemtorun opened #183 "Object Occlusion"
Hey, was just wondering if there was anything for occluding two objects?
Aka take two images and overlay one over another.

If not I could (try) to build something to help with that.

[2019-06-16 23:02] holste1 opened #184 "How to augment images and their (multiple) masks simultaneously, using masks as labels for Keras model?"
Hi,

I'm not sure I've seen a way to use this package for multi-class semantic segmentation. I am aware that using [DataPipeline](https://augmentor.readthedocs.io/en/master/code.html#Augmentor.Pipeline.DataPipeline), I can accomplish the first part of this question (augment images and their masks in parallel). However, I don't know how I could train a Keras model with this generator, denoting the

[2019-06-29 22:24] josuerocha opened #185 "How can I apply data augmentation to image sequences (video)?"

[2019-07-07 16:50] puhoshville commented on #165
Hi there! I added a parameter which passes down to Pillow's API, so now it's possible to fill pixels outside the boundaries of the input with custom value. Is there any other transformation which includes padding?

[2019-07-09 02:35] puhoshville commented on #165
@mdbloice, hi! waiting for your response =)

[2019-07-09 12:05] mdbloice commented on #165
@ajuric thanks to a PR by @ajuric this is now possible for rotations, Augmentor version 0.2.4 now includes this feature. As for the different colours for the ground truth and images, this is not yet possible, but I will try to keep it in mind for a future update.

[2019-07-10 17:47] VincentYCYao commented on #184
**Issue 1: Interpolation of mask after random rotation**
I have tried augmenting images and the corresponding mask in parallel. After random rotation, intermediate values appear in the binary mask probably due to interpolation. There is no API for the user to choose Nearest Neighbor Interpolation for augmenting masks. I think that would be useful. Though, it is not a big issue, it is something the

[2019-07-10 18:00] VincentYCYao opened #188 "Severe misalignment between image and mask after random distortion"
related issues: #173 #184
**This is a bug**
[code]
![distored_mask](https://user-images.githubusercontent.com/49467070/60991715-a8d0b380-a37d-11e9-8942-32cb6a4220c0.jpg)
![distore_image](https://user-images.githubusercontent.com/49467070/60991735-b128ee80-a37d-11e9-947a-474e2f9959e7.jpg)

[2019-07-10 18:07] VincentYCYao commented on #173
@duanzhiihao check issue #188
you can augment image and mask in parallel using
[code]
**the random distortion fails
random rotation and flipping work fine**

[2019-07-12 08:24] mdbloice commented on #188
Hi @VincentYCYao, sorry for the delay checking this, I have not been able to dedicate much time for Augmentor over the past few days. I will check this immediately, and try to see what might be happening.

[2019-07-12 11:03] #188 closed

[2019-07-12 11:11] mdbloice commented on #188
Hi @VincentYCYao, this has now been resolved as of version 0.2.6. Just upgrade via pip (`pip install Augmentor -U`)

Thanks for pointing out the issue!

[2019-07-12 11:12] mdbloice commented on #173
Hi @VincentYCYao, @duanzhiihao, this has now been resolved as of version 0.2.6. Just upgrade via pip (pip install Augmentor -U)

[2019-07-12 11:12] #173 closed

[2019-07-12 11:15] mdbloice commented on #184
HI @holste1 - I will work on something to be able to do what you mentioned for the next version. Recently I have not had much time for Augmentor development, sorry for the delay in replying. I have marked this issue as an enhancement so it will get priority.

[2019-07-12 17:05] VincentYCYao commented on #188
@mdbloice Thanks a lot!

[2019-07-17 15:30] puhoshville opened #190 "White lines on image boundary in the case of some operations"
Also, there is an issue with white lines and I don't know how can I fix it:
![original_original_ISIC_0000001 jpg_3d502b08-4955-4195-9404-94a929751b51](https://user-images.githubusercontent.com/6560448/61298906-051e5200-a81a-11e9-9d20-b5898bd8bac5.jpg)

_Originally posted by @puhoshville in https://github.com/mdbloice/Augmentor/pull/189#issuecomment-511823814_

@mdbloice noted that antialiasing can

[2019-07-22 06:51] simongeek opened #191 "DICOM augmentation"
Please add DICOM (.dcm) format to valid formats.

[2019-07-23 13:33] puhoshville commented on #190
There is actually no white lines issue for `rotate_without_crop` method. What do we see in the image from the description - white lines are part of images! Images from examples simply contain white borders!
You can look at these images:
1) original

[![black image](https://i.postimg.cc/dtp7gKzj/black-image.jpg)](https://postimg.cc/Mv0KjgZn)

2) rotated with a black outer part

[![rotated with a bl

[2019-07-23 13:33] #190 closed

[2019-07-24 08:29] blaxe05 commented on #87
hii @mdbloice great toolbox!!! by the way, does it support multi-mask feature now, ex: let say 384x384x4 where 4 is the number of different masks?

[2019-07-25 06:33] ingramator commented on #191
Convert your DICOM to a standard image format like jpeg or png then process your data, Otherwise you will need to submit your own PR to add this functionality.

[2019-07-25 07:11] simongeek commented on #191
I will add my own PR for DICOM data.

[2019-07-25 08:43] Randryn0 opened #192 "rotate_without_crop doesn't work"
Hello,

when I try to use rotate_without_crop the program crashes.

[code]

The output is:
[code]

I am using the latest pip package (0.2.6) of Augmentor and Python version 3.6.8 running on Ubuntu 18.04.

Cheers

[2019-07-25 11:30] mdbloice commented on #192
Hi @Randryn0, yes I can reproduce this error, I am looking in to it now and will let you know. Recently there was a change in how the rotations worked and this probably introduced this bug. Thanks for pointing out the issue.

[2019-07-25 12:10] mdbloice commented on #192
Hi @Randryn0 OK so I have traced it down to the `fillcolor` parameter only being available in version >5.2.0 of [Pillow](https://pillow.readthedocs.io/en/5.2.x/releasenotes/5.2.0.html?highlight=fillcolor), which is a dependency of Augmentor.

Try upgrading Pillow:
[code]
And trying again. You can see what version of Pillow you have by using `pip show Pillow`.

[2019-07-25 12:10] #192 closed

[2019-07-26 13:25] Randryn0 commented on #192
pip upgraded Pillow to 6.1.0 and the issue is no longer present. Thank you very much!

[2019-07-27 10:07] mdbloice commented on #192
Hi @Randryn0, no problem, glad that fixed the issue!
M.

[2019-07-30 03:17] cobaltblu27 commented on #176
I was having the same problem. For people who are also getting overflowing logs, you can do a quick fix by adding `disable=True` option where tqdm is called in Pipeline.py.
It would be really nice to have a built-in option for quiet output though :)

[2019-08-01 13:35] tr1pzz opened #193 "Crashes when OOM"
I've experienced several crashes of my VM due to running out of cache memory.

My machine crashed with 8 CPU's & 32Gb memory after sampling 6000/20000 images (I watched the cache memory slowely build up..)

[2019-08-01 13:59] tr1pzz commented on #193
I've solved this using the following snippet:

[code]

[2019-08-01 14:01] #193 closed

[2019-08-02 09:18] mdbloice commented on #193
Hi @tr1pzz - there is also a way to disable multi-threading altogether:
[code]
Anyway, I will investigate the issue with the cache, thanks for taking the time to make the issue.

[2019-08-07 11:16] marcoistasy commented on #143
Hello, I am wondering what is the status on this ticket? As of August 2019, is this supported?

[2019-08-22 03:32] Abhishaike opened #194 "Is it possible to check which augmentations were applied?"
Exactly as in the title. For example, if I did
`pipeline.rotate(probability=0.3, max_left_rotation=5, max_right_rotation=5)`
Is there any way for me to find out whether that rotation really did happen for an input image?

[2019-08-22 09:54] TouchTheFish opened #195 "mask出现问题"
1.mask和原图的名称对不上
2.mask应该只有像素的位置发生变化，像素的值却也发生变化
3.浪费了我大量时间

[2019-09-02 05:20] gpavanb-osi opened #196 "'OSError' object has no attribute 'message'"
Python : 3.7.4
OS : Mac OSX 10.14.3
Bug : 'OSError' object has no attribute 'message' when using `sample` method
Solution : `message` is deprecated in latest Python version. One must use `msg` while catching such exceptions

[2019-09-02 07:43] mdbloice commented on #196
Hi @gpavanb-osi, thanks for making the issue. What code are you running to make this error appear?

[2019-09-03 05:46] gpavanb-osi commented on #196
Hi @mdbloice, I'm running `p.sample`, which seems to be working without issues for a certain subset of my data set and fails with the above error for others. Unfortunately, I cannot share the dataset here.

Interestingly, the error disappears once I specify a `save_format` to `PNG` in my case.

[2019-09-11 08:49] mdbloice commented on #196
Ok, well I am guessing that there is something up with the images that causes an exception, which then triggers a further exception as the keyword `message` is not understood by Python 3.7. Perhaps using PNG as the save format is the best workaround for now, I will work on replacing `message` with `msg` for compatibility with later versions of Python and maybe that fixes your issue (but I doubt th

[2019-09-11 08:53] gpavanb-osi commented on #196
No worries. There is a workaround for the time being.

[2019-09-11 08:57] mdbloice commented on #196
Ok fine, in a next version I will fix the `message`/`msg` problem, maybe that sorts it out, maybe not. Anyway, thanks for making the issue.
Marcus.

[2019-09-15 19:32] ajaykmr2292 opened #197 "simple help"
I have the images loaded from file into numpy array. I want to transform every image in this list using Augmentor Pipeline. Please suggest which augmentor Pipeline to use and example code if possible.

The data pipeline seems to work only for images with masks. I just need original images to be augmented (from array and not from source dir). Please help.

[2019-09-30 03:09] zldrobit opened #198 "Feature Request: Add an convert operation for pipeline to convert a mode of an image"
Feature Request: Add an convert operation for pipeline to convert a mode of an image

Pillow 4.2 deprecated save 'RGBA' mode as JPEG file:
https://github.com/python-pillow/Pillow/issues/2609,
which results exceptions when saving images (e.g. `OSError: cannot write mode RGBA as JPEG.`).
Should we add an convert operation for pipeline to convert a mode of an image?
So one can change the mode before

[2019-10-27 11:54] RifqiAW opened #200 "Is there a way to apply the same random crop?"
I wanted to apply the random crop for my video data how do I make sure that for frames of the same video it will crop the same part?

[2019-10-28 00:38] weiminson opened #201 "How to customize the output name?"
Hi m8,

my input image has a name like: STS.png
the outputted name looks like: label_original_STS.png_asdfasfasdfsdfd-afds-sdfdsfds-sdfsdfsd-sfdsfds.png which looks really weird.
Is there an option to set the name of the output?

[2019-10-28 08:23] mdbloice commented on #200
Hi @RifqiAW, I am not 100% sure what you mean. You mean that you have one video, and wish to pass this multiple times through a pipeline and get the same output out each time (for example the same crops every time, guaranteed)? I do not think you will be able to do this... I can only suggest you make the crops in a separate pass, save them to disk, and then use these crops as your data source for

[2019-10-28 08:30] RifqiAW commented on #200
Yes, what I mean is for example a video is made of 75 images, and if I apply a random crop then it will crop at the same exact part for all 75 images. Guess I'll have to settle for a centered crop then? Thanks for the help.

[2019-10-28 08:30] #200 closed

[2019-10-28 09:12] mdbloice commented on #201
Hi @weiminson, no right now that's how it works. It is to avoid filename conflicts when saving the files and to be able to see the label and original filename.

Is it the random string stuff that you have an issue with? Or the label_original_xyz stuff at the beginning of the filename?

[2019-10-28 09:14] mdbloice commented on #200
Ah yes that is supported, you just have to pass all 75 images in a stack and use a `DataPipeline`, see

<https://github.com/mdbloice/Augmentor#multiple-maskimage-augmentation>

Maybe that helps?
M.

[2019-10-28 16:30] Mahi-Mai commented on #201
I just came to the issues to see if there were any options for this!  I'd appreciate it if we could format the naming scheme ourselves.  All I really need is original_name_aug_1.png, original_name_aug_2.png, etc.

The current filenaming scheme could make a process harder down the line.  I have to do operations that match images to masks, which involves parsing the filename.  I'm using pycococreato

[2019-10-28 16:31] Mahi-Mai commented on #178
I would also prefer to define this myself.

[2019-10-28 16:37] mdbloice commented on #201
Hi @Mahi-Mai, ok yes it seems some people would really like to be able to change this... Well I will see what I can do, I could just make it so that it increments numerically but there may be issues with multi-threading in that case. However, I will take a look and see what I can do in the next few days. That's the best I can offer right now, I do not see any other workarounds...

[2019-10-28 18:14] Mahi-Mai commented on #201
Thank you, especially for the swift response!  It's been so great to find such a comprehensive, module independent augmentation suite.  I'll let you know if I find any solutions to the problem of my own.

[2019-10-28 18:43] mdbloice commented on #201
Sure, no problem at all, glad you find it useful! Yeah, if you find a solution let me know here, otherwise I will try to sort something out.
M.

[2019-10-29 00:17] weiminson commented on #201
thank you guys, appreciate your discussion and time.

------------------ 原始邮件 ------------------
发件人: "Marcus D. Bloice"<notifications@github.com>;
发送时间: 2019年10月29日(星期二) 凌晨2:43
收件人: "mdbloice/Augmentor"<Augmentor@noreply.github.com>;
抄送: "曹凯毅"<weiminson@qq.com>; "Mention"<mention@noreply.github.com>;
主题: Re: [mdbloice/Augmentor] How to customize the output name? (#201)

Sure, no problem at all, g

[2019-11-01 00:05] yesufeng opened #202 "bug in this line to convert RGB images into a 2D numpy matrix"
https://github.com/mdbloice/Augmentor/blob/d7832c604f90fd34e300b97acad36625859d1c36/Augmentor/Pipeline.py#L521

This line has bug, np.asarray(Image.open(...)) convert the PngImageFile (PIL type) into a 2D instead of 3D array, e.g., the original png is a (224,224,3) then this converts it to (224,224), dropped the channel dimension. This is due to the PIL mode is set to 'P', which needs to be conver

[2019-11-01 07:53] mdbloice commented on #202
Hi @yesufeng, thanks for pointing this out, however I cannot seem to recreate this when I test it. PIL doesn't seem to drop channels by default, and if I explicitly set a 'P' mode, I receive an error:

[code]
which returns:
[code]

If I do not set the `mode` argument, then it opens with 3 channels as expected.

Numpy also seems to open all three layers as expected:
[code]
outputs:
[code]
Are you e

[2019-11-03 20:19] yesufeng commented on #202
Yes, so this is what I did to pinpoint the problem, I first initialized a pipeline by pointint it to a directory, then I followed the logic in the code, where the pipeline.augmentor_images saves all the image paths and then the self._executor will call Image.open to read the image as shown below, and this is essentially what line 521 in keras_generator does:

aug_im = pipeline.augmentor_images[10]

[2019-11-04 01:57] Zhang-O commented on #195
please repeat your problem in english.

[2019-11-04 02:20] Zhang-O commented on #160
@mdbloice, has you add this functionality to process() function?
I can not wait to try it .

[2019-11-04 02:32] Zhang-O commented on #36
# Create your new operation by inheriting from the Operation superclass:
class GaussianBlur(Operation):
    # Here you can accept as many custom parameters as required:
    def __init__(self, probability, radius):
        # Call the superclass's constructor (meaning you must
        # supply a probability value):
        Operation.__init__(self, probability)
        # Set your custom operation's m

[2019-11-04 03:42] Zhang-O commented on #160
@paulfauthmayer, thanks for your code ！

[2019-11-04 03:42] Zhang-O commented on #160
@paulfauthmayer, thanks for your code ！

[2019-11-09 08:31] ItTakesALotToKnow opened #203 "Image resize and label position"
How can I get the right labels (like points) position after resizing the image?

[2019-11-25 09:35] Jingxin-LIU opened #204 "how to save image and mask in different location?"
After augmenting the original data and corresponding ground truth data in parallel, how to save them inseperate folders?

[2019-11-25 10:23] mdbloice commented on #204
Hi @Jingxin-LIU, no this currently not supported, however the filenames contain information about which are the ground truth images and so on.

[2019-11-29 01:45] eemberda opened #205 "augmented image and corresponding mask does not match"
Hi. I would like to ask for assistance. I tried to use Augmentor on the ISBI2012 dataset at https://imagej.net/Segmentation_of_neuronal_structures_in_EM_stacks_challenge_-_ISBI_2012 with the codes below. However, the output images and ground truths don't match.

![isbi](https://user-images.githubusercontent.com/1371096/69838024-97d10200-128c-11ea-87fe-5ebad03e41b0.PNG)

`p = Augmentor.Pipeline(ISB

[2019-12-03 05:17] DonaldTsang opened #206 "Enhancement: Color-related and static-related augmentation"
Here are some features I would like to see in Augmentor
- [ ] Brightening/Dimming of images (based on HSL/HSV vs YUV/YCbCr vs RGB)
  - [ ] complete brightening
  - [ ] partial brightening on certain central, horizontal or vertical regions
- [ ] Color wheel or Hue rotation (based on HSL/HSV vs YUV/YCbCr)
  - [ ] simple rotation H = (H + X) % 360 (or equivalent on YUV/YCbCr)
  - [ ] rotation and col

[2019-12-10 09:58] mdbloice commented on #205
Hi @eemberda, thanks for opening the issue, yes that's a bug and will be fixed today. I will write a message here once you can update via pip.
Thanks again for pointing it out (and apologies for the delay).
M.

[2019-12-10 10:58] #205 closed

[2019-12-10 11:33] mdbloice commented on #205
Hi again @eemberda, the version on PyPI (version 0.2.7) now contains a fix for the issue you were having. You can update Augmentor using: `pip install Augmentor --upgrade`

[2019-12-11 10:01] eemberda commented on #205
Thank you very much.

[2019-12-11 10:33] mdbloice commented on #205
Sure thing. If you still encounter problems, just re-open the issue or open a new one.
M.

[2019-12-17 19:57] eemberda opened #207 "Augmented ground truth does not match the corresponding image when using keras_generator_from_array"
Hi,

I used the data from https://www.kaggle.com/c/data-science-bowl-2018/data and tried to generate augmentations.

The original images and ground truth are perfectly matched:
![augmentor1b](https://user-images.githubusercontent.com/1371096/71029148-c2a2cd80-2149-11ea-9b57-59b6098d4628.png)

I used the following pipeline:

[code]
When I tried to view the augmentations, the ground truth are flippe

[2019-12-27 10:23] nikhilbv opened #208 "Save images augmented using DataPipeline"
Hello,
Is there any other way than using PIL to save images augmented using DataPipeline

[2020-01-12 11:15] vqmalic opened #209 "RandomZoom producing different augmentations on same batch of image arguments"
Hello  mdbloice - thank you for this wonderful tool. It's been instrumental to a number of my projects.

I'm passing a ground truth image and a binary mask at the same time to the `perform_operation()` method of `zoom_random` and I'm noticing that after augmentation the image and the mask no longer line up. I think this might have to do with a [recent commit](https://github.com/mdbloice/Augmentor/

[2020-01-12 12:05] Larry-Zheng opened #210 "Siamese picture augmentation"
I couldn't find an implementation for siamese picture augmentation. So I put a little patch here https://github.com/Larry-Zheng/Siamese_Image_Augmentor.

[2020-01-17 11:23] mdbloice commented on #209
Hi there @vqmalic. I am glad you find the package useful!

Yes, you are absolutely right, the randomness should always be outside of the `do()` method. I will fix that immediately and update the package on PyPI.

Thanks for pointing this out!

[2020-01-17 11:46] mdbloice commented on #210
Hi @Larry-Zheng, do you mean the ability to augment images and their masks? Or do you mean something else by Siamese picture augmentation?

[2020-01-17 11:48] #209 closed

[2020-01-17 12:02] mdbloice commented on #209
Ok, so I have just updated Augmentor to version 0.2.8 on PyPI, you can update it using:

[code]

Hope this fixes the issues you were having.

[2020-01-17 12:07] mdbloice commented on #207
Hi @eemberda

Thanks for creating the issue. This **should** be fixed in the latest version of Augmentor, which was updated just today to 0.2.8. Use `pip install --upgrade Augmentor` to get the latest version.

Let me know if the issue persists, I will do my best to resolve it.

M.

[2020-01-20 01:04] Larry-Zheng commented on #210
I mean the ability to augment the siamese-picture pairs & their mask. Actually I read the source code and find that source_directory parameter can accept a list but it just doesn't work(Augmentor version 0.2.3).  Thus，I write this code.  (forgive me， my English is as poor as my Python haha😂 )

[2020-01-21 10:51] mdbloice commented on #210
Hi @Larry-Zheng, maybe you could try to update Augmentor (`pip install --upgrade Augmentor`) — the latest version is 0.2.8 and quite a few bugs related to the picture/mask pair features have been fixed recently!

[2020-01-21 16:52] franciscosenae commented on #207
Hi @mdbloice,

I have the same issue. Instaled today and have already confirmed that the version is 0.2.8.

This issue persists, confirmed using the ISIC dataset and the above code to generate.

Thank you,

Francisco

[2020-01-21 17:05] franciscosenae opened #211 "Different image types"
Hi,

I am currently working with the ISIC-2017 dataset, that contains images as .jpg and masks as .png

When adding the ground truth masks, the output is:

If I convert the image to .jpg, this problem disappears.
Is is possible to add support to .png?

Thank you,
Francisco

[2020-02-05 04:32] moonjongsul opened #212 "How to apply 'random_brightness' function to each image at multiple mask/image augmentation??"
I did augment the [original image / mask 1 / mask2] using 'random_birghtness' and 'random_contrast' functions at multiple mask/image augmentation. Now 3 images are augmented simultaneously. But the mask1 and mask2 colors are shouldn't be changed.

How can I apply those functions to only original image at multiple mask/image augmentation?

Thansk! :)

[2020-02-05 14:54] enricodata opened #213 "Errors when running"
When running the following code:
import Augmentor
p = Augmentor.Pipeline(path)
p.rotate(probability=1, max_left_rotation=5, max_right_rotation=5)
p.random_distortion(probability=1, grid_width=4, grid_height=4, magnitude=8)
p.flip_left_right(probability=0.5)
p.flip_top_bottom(probability=0.5)
p.zoom_random(probability=0.5, percentage_area=0.8)
p.sample(10000)

I get the errors below.

why is that h

[2020-02-12 22:26] Mahi-Mai opened #214 "random_erasing() should not add noise to the annotation mask"
So I noticed that when I apply random erasing, the changes get applied to the annotation.
[code]

Is there a way to prevent this?

Thanks!

[2020-02-12 22:43] Mahi-Mai opened #215 "Using the skew() operation"
So, I'd like to use the skew() operator.  However, even after lots of testing, I can't quite figure out how magnitude affects the output.  Even when I put it as low as 0.1, I'll sometimes get a skew that's hyper distorted beyond recognition.  I want to limit it to "gentle" skewing.  Is this possible?

Thanks!

[2020-02-17 15:03] gerchicov-bp commented on #213
@enricodata The reason of this error may be an incorrect file extension. The problem is I don't know how to find this image - the log seems to be incomplete

[2020-02-19 06:45] Roosh27 commented on #171
@mdbloice Could you please help on this? I am facing the same issue.

[2020-02-24 04:37] MoKhaleel commented on #82
I have a problem with the code works for some directories and throw and error for the others.

folders =  ['C:/.../datasets/images_test_cropped/042.Vermilion_Flycatcher', 'C:/.../datasets/images_test_cropped/043.Yellow_bellied_Flycatcher', ...]

target_folders = ['C:/.../datasets/images_test_cropped_augmented/042.Vermilion_Flycatcher', 'C:/.../datasets/images_test_cropped_augmented/043.Yellow_bell

[2020-02-28 13:15] #208 closed

[2020-03-05 04:58] rushin682 opened #217 "Addition of nii, dicom file formats for medical image scans"
I was hoping if we could add the support for nii, nii.gz and dicom file formats.
These are the most commonly used file formats for medical image scans.

Also, volumetric data augmentation can be a good option.

Let me know!

[2020-03-31 11:51] 0x8b commented on #90
Why #98 wasn't merged? It works for me perfectly.

[2020-04-02 19:26] joys8998 commented on #211
The problem is not the support of .png files since the library works fine with .png files but the extension file in images and groundtrith has to be the same.

From the documentation:

an image titled cat321.jpg will match with the image cat321.jpg in the ground_truth_directory. The function respects each image’s label, therefore the image named cat321.jpg with the label cat will match the image c

[2020-04-16 00:32] lesterlitch opened #218 "'Categorical' object has no attribute 'get_values'"
In Image Utils, this attribute no longer exists in recent versions of pandas, for pandas categorical objects. Should be replaced with:

cat_col_series.to_numpy()

[2020-04-17 15:01] Limingxing00 opened #219 "Would you consider to extend Augmentor in 3D image segmentation?"
Hi, would you consider to extend Augmentor in 3D? I work in the biomedical image segmentation. In this field, we usually meet 3-D MRI, CT images. While, there is no convenient tool to augment 3D images for the segmentation tasks. I just used your tool, I feel very easy to use.

Best.

[2020-04-21 07:00] Salehoof opened #220 "KerasDataGenerator for DataPipeline"
Hi,
I am working on an image change detection problem using keras. The problem dataset consists of 3 images for each scene: The reference image, the moving image (which should be co-processed with the reference image to find changes) and the ground truth image. The augmentation should be done the same for these three images for each scene.
I want to use Augmentor for this dataset and I have found

[2020-04-30 14:07] franciscosenae commented on #211
Thank you very much!

Though it would be better to match through the same name, independently of the extension in use.

[2020-04-30 14:07] #211 closed

[2020-05-02 15:43] #178 closed

[2020-05-08 10:36] yuliwu opened #221 "Interpolation of ground-truth"
One thing I noticed while augmenting is that the ground-truth labels had noises at the boundaries after being zoomed in. It might be caused, if the interpolation was set to bilinear or similar, while it should be set as nearest neighbours to avoid creating new labels.

[2020-05-28 16:31] safwankdb opened #222 "Adding support for Bounding Boxes/Polygons using petyr"
I created [petyr](https://github.com/safwankdb/petyr), a homography and affine transformation library, the api is similar to augmentor, I think it can be easily integrated to add bounding box and polygon support.

[2020-05-31 03:28] nanoxas commented on #221
I have the same problem. I was looking into the code and it seems the processing of the mask is as the same as the image. So it would be necessary to distinguish between mask and image in order to apply the interpolation. And it's set to bicubic, but for the mask it should be set to NN

[2020-06-02 09:54] mbelloc opened #223 "Keep image file names in built-in operations"
Built-in operations does not keep input image file names in the returned array of images. This is a problem when using custom operations that need to know these file names.
I produced this unexpected behavior by first running a custom operation then a built-in one and a last custom one that looked for the file names.

A work-around is to first add all custom operations to the pipeline

[2020-06-04 00:59] nyk2001 opened #224 "sample with array fails"
Hi,

I am trying to use an image to generate sample data but I am getting an error message. My code is

[code]

I get the following error message
[code]

Can anyone please help me with that ?

[2020-06-04 01:29] nyk2001 commented on #90
I am having issue and cannot make it work...

[2020-06-16 13:50] 4ND4 commented on #163
Fixed it by setting the parameter **scaled** to _False_. However I have a new issue related to #164

[2020-07-13 09:17] sri-dhurkesh opened #225 "Doubt on probability parameter"
I actually try to augment a datasets up to 100 samples .Please help me to find how the parameter probability actually works?

[2020-07-13 15:48] sri-dhurkesh commented on #171
**Actually I also had the same error. At first, I called so many methods to the pipeline** `p`.  **like this**

`import Augmentor
p = Augmentor.Pipeline('/kaggle/working/final1_resized_0','/kaggle/working/final1_augment')
p.rotate(probability=0.7, max_left_rotation=10, max_right_rotation=10)
p.zoom(probability=0.5, min_factor=1.1, max_factor=1.5)
p.flip_left_right(probabilty=0.2)
p.rotate_random_9

[2020-07-14 14:32] nwschurink commented on #219
@Limingxing00 you could use [TorchIO](https://github.com/fepegar/torchio) which is specifically focussed on 3D medical image augmentation

[2020-07-14 14:34] Limingxing00 commented on #219
Thank you! It looks interesting.

[2020-07-14 14:34] #219 closed

[2020-07-14 15:39] haimat commented on #176
This is quite an old issue, but still important in some cases.
Will this feature be implemented some time?

[2020-07-22 00:51] yimjinkyu1 commented on #202
Has the above problem been solved? I also met above problem. I used jpeg imagenet data.

[2020-08-06 02:48] genghisun commented on #109
Hi~ Is this problem fixed?

[2020-08-28 21:22] abmar commented on #221
@yuliwu @nanoxas I faced the same problem for a multiclass segmentation. inspired by the multi mask augmentation functionality, I onehot encoded my masks, concatenate the obtained binary masks with the source image and augment at once then apply an argmax on the augmented masks to yield one mask with the multi class labels.

[2020-09-24 08:42] haimat opened #227 "'FileNotFoundError' object has no attribute 'message'"
I noticed that sometimes during augmentation an image file cannot be saved:

[code]

But then this problem leads to another issue:

[code]

The `Exception` object does not have a `message` member.
So maybe you want to change line 268 to something like this:

`print(f"Error writing {file_name}, {str(e)}. Change save_format to PNG?")`

[2020-10-13 08:00] mfruhner commented on #90
Having the same issue here!

[2020-11-18 21:30] anaghajoshi111 commented on #82
I'm facing the exact issue. Did you happen to find a workaround yet?

[2020-12-19 08:51] EscapeReality846089495 commented on #221
So, did the author has deal this issue? I also find that all my masks has been disrupted by operation just like rotate, zoom_random, flip_top_bottom, random_distortion..., I don't know which operation make such a influence. Is there any way to choose the method of interpolation?

[2020-12-22 08:53] aabramovrepo opened #228 "Question // potential transformations // Image Statistics Matching"
Dear All,

   first of all, thanks for making this project available, some great work here! Together with my colleagues I have been working over the last year on `unsupervised Domain Adaptation (DA)` for object detection. In our work a DA problem for object detection was tackled from a new perspective: we solely matched image statistics between source and target domains without involving additiona

[2020-12-23 15:48] shuaibaslam2019 opened #229 "Can't Install Augmentor via Conda"
This is the command which I used... **conda install -c augmentor augmentor**

Is there any possibility to install with **python 3.8** ?

**Error:**

Collecting package metadata (current_repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.
Solving environment: failed with repodata from current_repodata.json, will retry with next repodata source.

[2021-01-07 14:36] mdbloice commented on #228
Hi,
Thanks for reaching out! I had a look at the two techniques you mentioned, could they be applied in an automated manner? For example, for the **Feature Distribution Matching** and **Histogram Matching** described in the GitHub repo's `README.md` I saw you need to supply a source image and a reference image: do these need to be individually defined in order for the techniques to be useful? Coul

[2021-01-10 13:53] cemalgurpinar commented on #201
@mdbloice is there any progress on the output name of the images?

[2021-01-20 11:28] NBCS1 commented on #171
I hope you found the issue. For posterity, for me it was because I was trying to import .tif files. I converted them to .png and worked!

[2021-01-27 06:48] mona-commits opened #230 "How to save output to a specific folder"
Hi, thank you so much for providing this tool but I am still wondering how do I save my output to a specific mode? I mean most of the times we have a folder for image and another one for ground truth.  How do I go about saving the generated images and ground truth in seperate folders?

[2021-02-19 15:26] haimat commented on #176
Hey everyone, is this still being actively developed?

[2021-03-01 08:22] mdbloice commented on #176
Hi there, at the moment only bugs are being fixed, and no new features are really being added. However, because a few more urgent bugs need to be fixed and this will be done in the next week or so, I'll make sure to add this feature in that update.

[2021-03-01 08:45] haimat commented on #176
Sounds great, thanks!

On Mon, 1 Mar 2021 at 09:22, Marcus D. Bloice <notifications@github.com>
wrote:

--
Matthias F. Brandstetter
haimat@gmail.com

[2021-03-10 12:58] samwulol commented on #201
Saving output to different folder may be a good way.

[code]

[2021-03-29 14:28] hanss0n commented on #196
What is the workaround?

[2021-04-01 05:53] Preeyank opened #231 "Labelling image"
If images are already labelled. Will it also generate the label file for the same?

[2021-04-06 11:32] newb-dev-1008 commented on #230
@mona-commits I found that the __init__() method in the Pipeline has three parameters which aren't mentioned in the documentation:

In the [Pipeline.py](https://github.com/mdbloice/Augmentor/blob/master/Augmentor/Pipeline.py) file, the constructor has three parameters:

`def __init__(self, source_directory=None, output_directory="output", save_format=None)`

While the **source_directory** paramete

[2021-05-14 14:38] pshah0086 opened #232 "Output files missing"
I tried using Datapipeline to generated augmented images along with its mask. But even after successfull execution I cannot see any output folder in neither my image directory nor my labels directeory. i also tried uncommenting Pipeline.py output directory member variable and specifing output directory path. But none of the method worked. i simply cannot see my augmented images and masks anywhere.

[2021-05-14 15:40] Cocomolch4000 opened #233 "How to read and output uint16 images with Augmentor?"
Hi there,

This would be extremely helpful since I have around 1000 annotations (each has unique label) per image.
Is this possible?

Best
Coco

[2021-06-24 18:48] pratikkulkarni228 commented on #232
Yeah, I am facing the same issue. Inspite of providing an output_directory to the Pipeline constructor, it saves the outputs in the one directory previous to the source directory.

[2021-06-29 20:20] AmrishaVohra commented on #82
The issue seems to be with the path length. I reduced the path length by changing the folder name, and it worked

[2021-08-03 04:15] YounesHB92 commented on #114
I am having the same problem exactly. Does anyone know how to fix it?

[2021-08-04 03:45] clveryang opened #234 "moudle 'Augmentor' has no attribute 'pipeline'"
when I use augmentor to creare pipeline, errors happened. I follow from document of Augment, use pip install Augmentor ,why ?

[2021-10-15 06:11] ccl-private opened #235 "int() argument must be a string, a bytes-like object or a number, not 'Image'"
follow "https://augmentor.readthedocs.io/en/master/userguide/extend.html#using-non-pil-image-objects" and face error above.

[2021-10-15 07:35] ccl-private opened #236 "why random_erasing sometimes cause error, but sometimes not."
![image](https://user-images.githubusercontent.com/36214675/137449672-b92cdaa9-0da8-45bb-b753-423df0bcfc1d.png)

[2021-10-15 07:53] ccl-private opened #237 "OSError: cannot write mode RGBA as JPEG"
![image](https://user-images.githubusercontent.com/36214675/137452071-340cdad1-5380-411c-86a1-f32f92f43507.png)

[2021-10-15 08:05] #235 closed

[2021-10-15 08:34] #237 closed, assigned to nobody

[2021-10-15 08:35] #236 closed

[2021-10-15 08:45] mdbloice commented on #235
Yes indeed, this is not clear from that part of the documentation and is out of date. The `perform_operation()` function expects a list of images to be returned, even if only one image is returned.

Thanks for taking the time to clear this up.

[2021-10-15 08:48] mdbloice commented on #237
I will look in to this. Other functions support RGBA, and the `random_erasing()` function should also work with RGBA images, so I will have a look and see if I can fix this.

[2021-10-17 00:11] Airbus1080 opened #238 "What augments should you use?"
Suppose you have a dataset of faces and you're training a GAN, what is the recommended augment operations to use in this scenario?

[2021-11-08 02:34] GITSHOHOKU opened #239 "label interpolate issue"
I have some crack labels. When I use the skew method or zoom in, the original crack label has been cut. Is there any interpolation operate can be used in this repo?

[2021-11-24 05:54] ccl-private opened #240 "p.ground_truth not work for p.add_operation"
custom functions not used in mask labels.
![image](https://user-images.githubusercontent.com/36214675/143182713-0093783a-78f1-4ac6-83bc-0552beb20f51.png)

[2021-11-24 06:56] ccl-private commented on #240
I used "np.random" in my custom function. how can I convert the same random value to image and mask image.
[code]

[2021-11-24 07:13] ccl-private commented on #240
even when I remove the random value codes, the custom function still does not work in the mask image.

[2021-11-24 08:06] ccl-private commented on #240
here is all my codes.
[code]

[2021-12-05 22:27] NithyaMogane-TomTom opened #241 "Not cropping skewed image to original image size"
**Description**:
When one uses skew_left_right(), the image is cropped to fit original image size and hence, content is lost.
For example:
Original:
![image](https://user-images.githubusercontent.com/62301809/144766162-0a6ce1a4-a735-4836-a340-b6681a4b6db5.png)
After skewing:
![image](https://user-images.githubusercontent.com/62301809/144766147-ca414022-a9c6-478a-8a8d-b2566c5cdc2d.png)
As you can s

[2021-12-07 09:41] mdbloice commented on #241
Hi there @NithyaMogane-TomTom

Actually, this is not supported. The skew operations maintain the image size, as different skew magnitudes/angles would result in many different image sizes due to the stochastic nature of the pipeline. By default Augmentor tries to maintain consistently sized images and automatically performs the cropping required to maintain this.
I hope this helps.

[2022-01-18 13:13] fenghualuo commented on #229
the version of python should less then 3.7,but yours is 3.8

[2022-04-15 02:08] ddfabbro commented on #62
I used [`p._execute_with_array`](https://github.com/mdbloice/Augmentor/blob/master/Augmentor/Pipeline.py#L283-L300) instead

[code]

[2022-04-17 21:12] zabboud commented on #224
I'm not sure if this is relevant anymore -- but here's the answer in case anyone else might need it.

You want to use `Augmentor.DataPipeline()` instead of `Augmentor.Pipeline()` when feeding in arrays.

It takes in two arguments, the first one is a list of lists of arrays, the second one is a list of labels. Check out the example in the [link](https://github.com/mdbloice/Augmentor/blob/master/not

[2022-04-27 07:34] tanzerlana opened #242 "Random Ereasing areas too big"
Hello!

when using random erasing i cant go below 0.11 size. 11% of the size is too big for me, i would need a tenth of this. can this be adapted somehow?

thank you!

best regards

Igor

[2022-04-27 08:08] tanzerlana commented on #242
Hello! thanks for your kind answer..

for my application I would need them to be between 0.01 and 0.1 as I am adding multiple labels it fills up too much and does not simulate our real world scenario

Thank you!

[2022-04-27 09:39] mdbloice commented on #242
Hi again @tanzerlana - if you update Augmentor using pip you should be able to now use values between 0.01 and 1.

Let me know if it's now working as you'd expect!

[2022-04-27 09:45] tanzerlana commented on #242
Greaaaat! Thank you! Will test it asap

Von: Marcus D. Bloice ***@***.***>
Gesendet: Mittwoch, 27. April 2022 11:39
An: mdbloice/Augmentor ***@***.***>
Cc: Igor Masin - Tanzer Maschinenbau GmbH ***@***.***>; Mention ***@***.***>
Betreff: Re: [mdbloice/Augmentor] Random Ereasing areas too big (Issue #242)

Hi again @tanzerlana<https://github.com/tanzerlana> - if you update Augmentor using pip you s

[2022-04-27 09:46] #242 closed

[2022-05-05 14:21] tanzerlana commented on #242
@mdbloice i did not forget you, i am at home in quarantene and will be back on monday to test it.

[2022-05-05 14:22] tanzerlana opened #243 "Question - Does it updated the labels too?"
Hello!
If I have a bunch of already labeled images (yolo - labeling) and let augmentor rotate and flip the image, can I somehow tell it to update the label files too? If yes, how?

Thank you!

[2022-05-05 14:56] tanzerlana commented on #243
@mdbloice ok thank you.. would be a cool feature tough, else I have to re-label 2000 images.. but thank you anyway, i will try to come up with something

[2022-05-05 15:07] mdbloice commented on #243
I have thought about adding such a feature before, but the way Augmentor was designed would mean a lot of refactoring of code so I never got around to it...
Hopefully you'll find a way to do it without having to do it manually :)

[2022-05-05 15:07] #243 closed

[2022-06-22 12:07] Superzlw opened #244 "Use for Semantic Segmentation"
Hi, thank you very much for the augmentor, it helped me a lot.
But I have a question, I am not sure whether Augmentor can be used for multi-label semantic segmentation, but according to my experiments, most of the newly generated labels are wrong, such as the image below, the erased area does not correspond, and There are a lot of masks at the border that shouldn't be there.
<img width="746" alt="

[2022-06-22 13:19] mdbloice commented on #244
Hi @Superzlw I will have to take a look at this more closely and try to find a fix... so you are passing images and their masks (as pairs) in to the pipeline, and augmenting them as normal?

If you could show some code that you are using to do this, that would help! If I can see your code I am sure we can fix it.

[2022-06-22 13:32] Superzlw commented on #244
Hi @mdbloice , Thanks for the reply. My test code is as follow:
[code]

Augmentor works very well for flipping, but for some more complex operations like distortion, erasing, and borders there will be some undesired masks

[2022-07-02 03:24] monkeycc opened #245 "Output dataset format Labelme JSON"
I want data enhancement

Output label JSON

[2022-07-29 02:55] Moriarty0112 opened #246 "ValueError: image has wrong mode"
Hi,I faced a problem when I used:
`p.random_color(probability=0.6,min_factor=50,max_factor=120)`
`p.random_brightness(probability=0.8,min_factor=50,max_factor=255)`
the error was：
![image](https://user-images.githubusercontent.com/104879600/181672664-deabc8c3-d152-438f-96ed-0a8db821fbfb.png)
![image](https://user-images.githubusercontent.com/104879600/181672727-24e0b8c2-b0c9-4228-bcd9-6a567f797a04

[2022-07-29 06:38] Moriarty0112 commented on #171
Hi,I found that when I used methods like:
`p.random_color`
or
`p.random_brightness`
the error will occured
but other methods worked very well,I don't know how to solve this issue

[2022-07-29 08:08] Moriarty0112 commented on #246
Hi,I have solved this problem,here is my solution:
I used this method(random_color and random_brightness) to do data augmentation during the semantic segmentation,at first I try to augment both the original images.png and the mask.png so that this problem occured
However, the mask.png shouldn't and unnecessary to be augmented because the objects's location and shape and size isn't changed(except r

[2022-07-31 13:40] das-ankur opened #247 "ZeroDivisionError: float division by zero while performing augmentor.sample(num_samples)"
![sc1](https://user-images.githubusercontent.com/43563075/182029008-e1cfea02-0f65-43bd-a6b3-ef14bda7bfcb.png)
![sc2](https://user-images.githubusercontent.com/43563075/182029012-e4961d40-c3bb-4a8c-8ad9-01cf3575a4cf.png)
![sc3](https://user-images.githubusercontent.com/43563075/182029017-5e2acba3-ba39-4a8f-8d29-a3fd36fdb61d.png)

[2022-09-05 08:55] fengxin619 opened #248 "DataPipeline使用sample的时候会报错"
![image](https://user-images.githubusercontent.com/30429455/188409935-12712074-8419-4719-b3be-c5acc1667f1e.png)